[2017-07-12 11:24] arafkarsh opened #1 "Usersnap Feedback - Integration Test"
**Sender**: araf.karsh@metamagic.in
**Comment**: This example screen shows you if your integration setup is correct.

<a href='https://usersnappublic.s3.amazonaws.com/testfeedback/itworks.png'>![Usersnap Feedback - Integration Test](https://usersnappublic.s3.amazonaws.com/testfeedback/itworks.png)</a>
<a href='https://usersnappublic.s3.amazonaws.com/testfeedback/itworks.png'>Download original imag

[2017-07-13 12:40] arafkarsh opened #2 "SA - Nice work"
**Sender**: mithunj43@gmail.com
**Comment**: Its really nice and really appreciated for the good work
[Open #2 in Usersnap Dashboard](https://usersnap.com/a/#/your-team-1s6s/p/amexio-api-a0fddca1/2)

<a href='https://usersnappublic.s3.amazonaws.com/2017-07-13/14-40/b21afea0-94ca-4f42-9dc3-4c2f1a76dcfc.png'>![SA - Nice work](https://usersnappublic.s3.amazonaws.com/2017-07-13/14-40/f77c8e00-72fb-4eb

[2017-07-13 12:43] #1 closed

[2017-07-17 04:34] arafkarsh opened #3 "SA - Download Counter"
**Sender**: Araf.karsh@metamagic.in
**Comment**: Counter icon not working
[Open #3 in Usersnap Dashboard](https://usersnap.com/a/#/your-team-1s6s/p/amexio-api-a0fddca1/3)
**Notes**:
 - (1) Counter Icon missing....

<a href='https://usersnappublic.s3.amazonaws.com/2017-07-17/06-33/afd5e855-0e81-4a56-a27b-8a4870cb94e9.png'>![SA - Download Counter](https://usersnappublic.s3.amazonaws.com/2017-07-17/0

[2017-07-17 04:38] arafkarsh opened #4 "SA - Download Icon"
**Sender**: araf.karsh@metamagic.in
**Comment**: Download Icon image broken...
[Open #4 in Usersnap Dashboard](https://usersnap.com/a/#/your-team-1s6s/p/amexio-api-a0fddca1/4)
**Notes**:
 - (1) Download Icon

<a href='https://usersnappublic.s3.amazonaws.com/2017-07-17/06-38/81c7b304-4f63-4b29-b219-17dd05a632b2.png'>![SA - Download Icon](https://usersnappublic.s3.amazonaws.com/2017-07-17/06-38/ff51

[2017-08-04 03:40] luyouxin84 opened #5 "your v2 demo date/time picker need jq???"
hello,i new for ur lib.
when i use date/time picker, it have a error out and said it need jquery..

i want to sure ur lib need jq?

[2017-08-04 05:20] ketan-gote commented on #5
Yes its dependent on jQuery. As our date/time picker is dependent on bootstrap-datepicker & bootstrap-timepicker which is dependent on jQuery.

[2017-08-04 05:50] pratikthecook commented on #4
Fixed

[2017-08-04 05:50] #4 closed

[2017-08-04 05:52] pratikthecook commented on #3
Fixed

[2017-08-04 05:52] #3 closed

[2017-08-04 13:25] luyouxin84 commented on #5
i import jq 3.xx ,but the date/time picker not work.
err msg : $(....).datapicker is not a function

[2017-08-04 16:15] luyouxin84 commented on #5
i try another elements,but still not working good.
err test : $('[data-toggle="popover"]').popover =>undefined
it s look like problem for query worry dom???

[2017-08-04 16:47] luyouxin84 commented on #5
i fix problem, i dont install jq neither bootstrap4
i load these files in index,now it work good...

but dude ,u should mark depencies lib by hightlight!

[2017-08-05 05:09] pratikthecook commented on #5
Have u added bootstrap-datepicker and bootstrap-time picker packages?
If not please npm install them and add the bootstrap-datepicker.js and bootstrap-timepicker.js to your app.

[2017-08-05 05:36] pratikthecook commented on #5
Are you using Angular CLI, if so the js needed to be added to "scripts" in the angularcli.json .Simply installing wont work.
Thankyou for your feedback.
I am closing this issue.

[2017-08-05 05:36] #5 closed

[2017-08-06 11:55] luyouxin84 opened #6 "dropdown not working"
err message：　ERROR Error: No provider for CommonHttpService!

．．．pls guys,check ur depency lib

[2017-08-06 12:27] pratikthecook commented on #6
Can you please post your usage source code? Also have you injected `CommonHttpService` in any of your component?

[2017-08-06 12:40] luyouxin84 commented on #6
i dont inject CommonHttpService , there s detail for that object mention in your document..

i just copy ur html code in your document

[2017-08-06 13:06] luyouxin84 commented on #6
now i import CommonHttoService from amexio-ng-extensions , it may fix the issus.
but a new issus out..
error msg :   ReferenceError: Messenger is not defined..
it s look like u define 2 global variable in common.http.service.ts , $ and Messenger .i know $ is jq but what Messenger is?

[2017-08-06 14:39] pratikthecook commented on #6
Please include the following JS and CSS in your app.The message to include this is displayed on the console.
https://codeload.github.com/HubSpot/messenger/legacy.zip/master
We will update the docs accordingly, Thanks

[2017-08-06 14:54] luyouxin84 commented on #6
by the way, same problem is happen with radio and checkbox of input component

[2017-08-06 16:38] pratikthecook commented on #6
Are you facing the problem after configuring it as mentioned above?

[2017-08-07 01:17] luyouxin84 commented on #6
before configuring messenger, after import messenger ,i wasn't have try

[2017-08-07 07:07] pratikthecook commented on #6
[https://github.com/meta-magic/amexio.github.io/commit/1f8db2d4769d3069c300604e59dc50640e3470c4](url)
Please Close the issue once its resolved.

[2017-08-07 07:08] #6 closed

[2017-08-07 08:38] arafkarsh opened #7 "SA - Bhanu"
**Sender**: bhanu.yandra@gmail.com
**Comment**: Demo not loading in IE or Chrome
[Open #5 in Usersnap Dashboard](https://usersnap.com/a/#/your-team-1s6s/p/amexio-api-a0fddca1/5)
**Notes**:
 - (1) Not loading in chrome or IE

<a href='https://usersnappublic.s3.amazonaws.com/2017-08-07/10-36/383d5aaa-5886-469c-b512-a43414ea6b86.png'>![SA - Bhanu](https://usersnappublic.s3.amazonaws.com/2017-08-07/10

[2017-08-07 13:06] luyouxin84 opened #8 "Dropdown Event Triggers Fails inside Modals"
ratio and dropdown have css problem in amexio-window-pane
dropdown cant select, click event is not work

[2017-08-07 14:13] pratikthecook commented on #8
Please provide your usage source code

[2017-08-07 14:40] luyouxin84 commented on #8
i have try again.. i had use bootstrap4 origine dropdown , it not work too.
it look like bootstrape4 dropdown not work good in amexio-window-pane..

my code:
<amexio-window-pane [(showWindow)]="edit_condition_dispaly" [title]="'Employee Registration'" [closable]="true">
    <amexio-pane-body>

      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="

[2017-08-07 14:52] luyouxin84 commented on #8
i find solution 👍
u must use dropdown with <button > as menu , it work find in window-pane. Not use <a> as menu
example in bootstrape 4 site.
[https://v4-alpha.getbootstrap.com/components/dropdowns/#menu-items](url)

code example:
<amexio-window-pane [(showWindow)]="edit_condition_dispaly" [title]="'Employee Registration'" [closable]="true">
    <amexio-pane-body>
      <div class="dropdown">

[2017-08-08 10:25] pratikthecook commented on #7
Previously we didnt include the polyfills for older browser, Now fixed

[2017-08-08 10:25] #7 closed

[2017-08-09 05:58] pratikthecook commented on #8
Thankyou @luyouxin84 for reporting and providing a workaround, as you have mentioned this is indeed a bug not from our side but from the bootstrap team itself here's the link to the issue [Issue](https://github.com/twbs/bootstrap/issues/22452).
As you can see the bootstrap is in alpha stages, we expect they would resolve it soon. Till Then we would implement a workaround.

[2017-08-09 06:08] pratikthecook commented on #8
[Resolved](https://github.com/meta-magic/amexio.github.io/commit/3e49f01bd38f175a5ff3e73b61989bb1f49077d8)

[2017-08-09 06:08] #8 closed

[2017-08-10 12:18] iremuznbz opened #9 "Cannot customize treedatatable"
I cannot customize the coloumn names in tree-data-table

[2017-08-11 12:29] DatsGawas commented on #9
[Resolved](https://github.com/meta-magic/amexio.github.io/commit/1d8ee9a710418e92c319e6f5cbefa648d1d40ff0)

[2017-08-11 12:33] #9 closed

[2017-08-11 17:59] #2 closed

[2017-08-11 22:30] ghost opened #10 "File Upload component"
Hello,

Any plan to offer FileUpload component in upcoming release.

Thanks

[2017-08-14 05:57] ketan-gote commented on #10
This will get added in next release which is planned for september.

[2017-08-29 11:34] Lakshmi1992 opened #11 "Unable to access button group dropdown in DataGrid"
Cannot access the dropdowns in the buttongroup in the DataGrid

[2017-08-29 11:51] DatsGawas commented on #11
can you elaborate issue that you are facing..?? Is  pagination dropdown not working..?

[2017-08-29 11:59] Lakshmi1992 commented on #11
yes, both the pagination dropdown and the ShowColumns Dropdown aren't working

[2017-08-29 12:18] DatsGawas commented on #11
I have checked but not found any issue it is working fine. please post your source code.
you can refer http://amexio.org/showcaseapp/v2/index.html#/datagrid

[2017-08-29 12:50] Lakshmi1992 commented on #11
My Code
app.component.html

          <amexio-card-pane>
              <amexio-pane-header>
               Data Grid
              </amexio-pane-header>
              <amexio-pane-body>
                <amexio-data-table
                  [title]="'Data Grid'"
                  [pageSize] = "10"
                  [dataReader]="'response.data'"
                  [checkboxSelect]="true"

[2017-08-29 13:26] pratikthecook commented on #11
Please post the version of amexio-ng-extension you are using from the `package.json`. We have checked and found no issues.
To further investigate, please mention the Browser version and name you running on.

[2017-08-30 06:34] Lakshmi1992 commented on #11
Browser Version:  Google Chrome Version 60.0.3112.113 (Official Build) (64-bit)

package.json
{
  "name": "first-cli",
  "version": "0.0.0",
  "license": "MIT",
  "scripts": {
    "ng": "ng",
    "start": "ng serve",
    "build": "ng build",
    "test": "ng test",
    "lint": "ng lint",
    "e2e": "ng e2e"
  },
  "private": true,
  "dependencies": {
    "@angular/animations": "^4.2.4",
    "@angul

[2017-08-30 06:39] Lakshmi1992 commented on #11
package.json(since the aboveone is not fully copied)
{
  "name": "first-cli",
  "version": "0.0.0",
  "license": "MIT",
  "scripts": {
    "ng": "ng",
    "start": "ng serve",
    "build": "ng build",
    "test": "ng test",
    "lint": "ng lint",
    "e2e": "ng e2e"
  },
  "private": true,
  "dependencies": {
    "@angular/animations": "^4.2.4",
    "@angular/common": "^4.2.4",
    "@angular/compi

[2017-08-30 07:05] pratikthecook commented on #11
Since this issue cannot be traced on our end, i have posted a plunker [Link](https://plnkr.co/edit/a4SyBD3oKxt1XkdWDmKW?p=preview). You can see i've pasted your code and its running fine.

[2017-08-30 07:15] ketan-gote commented on #11
Please take a look into plunker example. We are closing this issue.

[2017-08-30 07:15] #11 closed

[2017-08-30 14:29] bigdatacreative opened #12 "dropDown [data] seems not working"
Hello There,

the setData function for dropDown component tries to split the dataReader option even if it's not set.
In the meantime this function doesn't take the [data] property into account...
As my data don't come from a json file, it's a bit annoying... : )
Is it a bug or I didn't get nothing ???

Thx for sharing the library!

nico

[2017-08-31 03:13] pratikthecook commented on #12
Are you saying that the you aren't setting the dataReader property and you are binding a object which contains collection of object?
Please post your the data that you are trying to bind.

[2017-08-31 07:05] Lakshmi1992 commented on #11
I have analysed the issue with your plunker example.
When i click on the Page dropdown in the button group in the data grid,  I dont get this'aria-expanded="false"' updated to true, hence i dont get the pageslist dropdown displayed. I have added the corresponding generated html content below
<button _ngcontent-c4="" aria-expanded="false" aria-haspopup="true" class="btn btn-secondary dropdown-toggl

[2017-08-31 07:06] Lakshmi1992 commented on #11
<button _ngcontent-c4="" aria-expanded="true" aria-haspopup="true" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" type="button">
             Page - 1
            </button>

[2017-08-31 08:10] bigdatacreative commented on #12
Hi @pratikthecook !
Thx for your answer.
here's the element:

<amexio-dropdown name="menuList" [placeholder]="'Select a menu'" [(ngModel)]="selectedMenu" [data]="'data'" [dataReader]="menus" [displayField]="'name'" [valueField]="'id'" [width]="'250px'" (onSingleSelect)="onSelectMenu()"></amexio-dropdown>

menus is an object that contains data :

{
    "data": [
    {
        "name": "item1",

[2017-08-31 12:12] ketan-gote commented on #12
amexio-dropdown "dataReader" attribute value is set incorrectly

Your JSON structure is defined as below ..
{
"data": [
{
"name": "item1",
"id": "59a3cfeece995543cd519522"
}.....
]}

Attribute name "data" of JSON needs to defined for "dataReader" attribute in amexio-dropdown tag, below is corrected amexio-dropdown tag.

<amexio-dropdown name="menuList" [placeholder]="'Select a menu'" [(ngModel)]="

[2017-08-31 14:44] bigdatacreative commented on #12
Mmmm... Not sure I understand...

In my case :
[data] is an array (as described in doc) called 'menus' populated by a component.
the content of the array is :
[
{
    "name": "orgAdminMenu",
    "id": "59a3cfeece995543cd519522"
},
{
    "name": "orgManagerMenu",
    "id": "59a3cfeece995543cd519523"
},
...]

I don't understand what could/should be dataReader ?

[2017-08-31 18:14] ketan-gote commented on #12
Hi @bigdatacreative

Currently for amexio-dropdown the data which is getting binding to [data] needs to be JSON object which can have array . e.g

{
  "data": [
    {
      "name": "orgAdminMenu",
      "id": "59a3cfeece995543cd519522"
    }
  ]
}

please find amexio-dropdown markup for above datastructure.

<amexio-dropdown name="menuList" [placeholder]="'Select a menu'" [(ngModel)]="selectedMenu

[2017-09-01 06:06] pratikthecook commented on #11
@Lakshmi1992 Please post the corrensponding HTML, its missing in your reply

[2017-09-01 07:54] bigdatacreative commented on #12
Thx @ketan-gote. Already tried that but doesn't work
In my case Dropdown is a child component and if I console.log data in the dropdown component ngOnInit I get undefined...

[2017-09-01 08:03] pratikthecook commented on #12
@bigdatacreative Thanks for your suggestion, we have taken it into our account and getting the structure in working mode for data like yours.

[2017-09-01 10:45] pratikthecook commented on #12
Hey @bigdatacreative we have fixed the issue! :)
Fixed with commit 045fc43a6fc4a45b8fd08d9a1c13b8e2dd11cacd

[2017-09-01 10:45] #12 closed

[2017-09-15 09:36] arafkarsh opened #13 "SA - Araf Karsh"
**Sender**: araf.karsh@metamagic.in
**Comment**: Testing the showcase App Feedback System.. Ignore ...
[Open #6 in Usersnap Dashboard](https://usersnap.com/a/#/your-team-1s6s/p/amexio-api-a0fddca1/6)
**Notes**:
 - Image is cropped in the carousel.. Please fix it asap..

<a href='https://usersnappublic.s3.amazonaws.com/2017-09-15/11-34/094cc220-2468-4f4c-ae57-1867f0b7d34f.png'>![SA - Araf Karsh](ht

[2017-09-16 05:46] nni123 opened #14 "Showcase page (API page) not showing all the components on chrome"
http://www.amexio.org/showcaseapp/v2/index.html#/home

Open above URL in three browsers

[1]  Chrome (latest build 61). You can't navigate pass Dashboard (left-side side frame). Map is invisible.

[2] It works on Firefox (build 55).

[3] Microsoft Edge is the only browser where you can see left-side frame with all the options (Map is last one) without cutoff.

It is not a bug in build, but newbie

[2017-09-16 14:41] arafkarsh commented on #14
![amexio-showcase-app](https://user-images.githubusercontent.com/11264297/30513087-1e2714e8-9b1b-11e7-80d2-00a631fd619e.jpg)

[2017-09-16 14:45] arafkarsh commented on #14
The actual issue - Scroll Bar is not working when the Browser height is less then the left menus. Checkout the issue below..
![amexio-showcase-app-issue-2](https://user-images.githubusercontent.com/11264297/30513139-cb726e40-9b1b-11e7-8c11-c043dc755755.jpg)

[2017-09-16 22:35] nni123 commented on #14
[1] Chrome browser 61 on windows 10
![image 000](https://user-images.githubusercontent.com/31043903/30516444-830a8c86-9af4-11e7-9234-9903ad9cfd87.jpg)

[2] Microsoft Edge on window 10
![image 001](https://user-images.githubusercontent.com/31043903/30516453-b3199ff2-9af4-11e7-9df0-31ffed0df4a3.jpg)

[2017-09-17 09:45] arafkarsh commented on #14
we are looking into this issue and we will fix it asap.

[2017-09-18 14:19] DatsGawas commented on #14
fixed.

[2017-09-18 14:19] #14 closed

[2017-09-18 14:24] arafkarsh opened #15 "SA - Testing Issue"
**Sender**: pratik.kelwalkar@metamagic.in
**Comment**: Spacing in menus
[Open #7 in Usersnap Dashboard](https://usersnap.com/a/#/your-team-1s6s/p/amexio-api-a0fddca1/7)
**Notes**:
 - (1) Spacing Left

<a href='https://usersnappublic.s3.amazonaws.com/2017-09-18/16-24/c69a1f08-036e-43eb-b48c-b9c8268e53ab.png'>![SA - Testing Issue](https://usersnappublic.s3.amazonaws.com/2017-09-18/16-24/887898a0-7f3

[2017-09-30 07:40] nni123 commented on #10
Just want to verify if file upload component is included in the new release...

can't find in demo link or source code.

http://www.amexio.org/showcaseapp/v3/index.html#/home

Thanks

[2017-09-30 07:43] ketan-gote commented on #10
File upload component is not included in this release (v3.0), We are coming with point release in week which should have it.

[2017-09-30 08:08] nni123 opened #16 "[Request] Any plan to release material design template or enterprise source code"
[1] New version with the material design looks pretty good.
http://www.amexio.org/demoapp/

Any plan to release the source code of enterprise or material design template.

[2] Do you have anything in the pipeline to remove jQuery and browser DOM dependencies from components?

Thanks

[2017-09-30 09:30] nni123 opened #17 "DataGrid column alignment and pagination issue"
Couple of issues I found on demo page (which was replicated on local build for V3)

http://www.amexio.org/showcaseapp/v2/index.html#/datagrid

[1] ISO column text alignment is off for dataType =" number" (if you change it to string all good)

[2] Pagination at the bottom works but no hand sign when you bring mouseover the arrow for next & previous pages.

Tested for bootstrap & material design the

[2017-09-30 09:37] ketan-gote commented on #16
Source code for both app is on github
Demo App - https://github.com/meta-magic/amexio-theme
Enterprise - https://github.com/meta-magic/amexioFlixPoc

[2017-09-30 09:38] ketan-gote commented on #17
Will check the issue and get back to you on this.

[2017-09-30 19:55] nni123 commented on #16
Thanks for the links.

[1] Demo App link is incorrect but I found the right one here

https://github.com/meta-magic/amexio-demoapp-theme

[2] Enterprise source code got local address for the following dependency

    "amexio-ng-extensions": "file:../amexio.github.io/dist/amexio-ng-extensions-2.1.5.tgz",

Can you please let me the correct address?

Thanks

[2017-10-02 04:15] nni123 commented on #16
solved the issue. I found the link for the latest version in another project build.

    "amexio-ng-extensions": {
      "version": "3.0.0",
      "resolved": "https://registry.npmjs.org/amexio-ng-extensions/-/amexio-ng-extensions-3.0.0.tgz",
      "integrity": "sha512-uQXWoBcfdBL3NvK8bOx4BLmjkizW/aeDcNDsReVrccxsGyZgKQszjZSDAm1JGt2l+xbHdAKjfkwu0yCnZoMHCw=="
    },

[2017-10-02 04:15] #16 closed

[2017-10-04 09:31] ketan-gote commented on #17
Issue has been fixed, will be available in next point release.

[2017-10-04 09:31] #17 closed

[2017-10-05 05:15] nni123 opened #18 "[Request] will you remove jQuery dependency"
I am checking if you have any plan to remove jQuery dependency for the future release. It will reduce build size and improve performance (subjective topic), so it will be pure angular components (like angular material 2 library)

Thanks

[2017-10-05 12:17] ketan-gote commented on #15
Its fixed in showcase application.

[2017-10-05 12:17] #15 closed

[2017-10-05 21:04] nni123 commented on #18
Thanks for the update.

[2017-10-05 21:04] #18 closed

[2017-10-10 20:24] arafkarsh opened #19 "SA - THANK YOU! The great job!!!!"
**Sender**: hryhoriy.kravtsov@gmail.com
**Comment**: Dear authors!

Thank you very much for the incredible set of widgets for Angular 4 - it is really the super set!!! Thank you!

I would like to ask the following: can I get binding through some attribute to validation result for inputs components? Will be very thank you for any reply.

Kind regards,
Dr. Hryhoriy Kravtsov

[Open #8 in Usersnap Das

[2017-10-11 03:33] nni123 opened #20 "Matrial 2 theming issues"
Please see the attached image of email inputfield. If you don't provide correct email address "x" should be in center with error message the bottom of textfield.

Here is the theme info from angular-cli.json file.

`        "../node_modules/bootstrap/dist/css/bootstrap.css",
        "../node_modules/font-awesome/css/font-awesome.min.css",
        "../node_modules/amexio-ng-extensions/themes/materi

[2017-10-11 05:04] ketan-gote commented on #20
Will check it and get back to you.

[2017-10-11 07:41] ketan-gote commented on #19
We have commonservice which can be used for amexio-components validation. @DatsGawas will create small example on plunker and send you.

[2017-10-13 09:51] sagarjadhav968 commented on #20
this issue is fixed available  in v3.0.1

[2017-10-13 09:51] #20 closed

[2017-10-13 09:54] sagarjadhav968 commented on #10
File upload component is available in amexio version v3.0.1

[2017-10-13 09:54] #10 closed

[2017-10-13 10:02] DatsGawas commented on #19
Hi,
I have created plunker which will give you idea about how component can be validate.
[https://plnkr.co/edit/bHfWM3szKELZFiccjsdX?p=preview](https://plnkr.co/edit/bHfWM3szKELZFiccjsdX?p=preview)

[2017-10-13 10:02] #19 closed

[2017-10-14 04:47] nni123 opened #21 "DataGrid performance issue with 80k records in local datastore"
Datagrid demo code read modified country.JSON (80k record) with the page size of 10k.

After I start server localhost:4200 take-ups forever to load (maybe 3-5 minutes to get initial dataset). I get following error messages in chrome developer tools. FireFox throw error "script stop working or taking too long to execute...something like that"

`vendor.bundle.js:54277 Angular is running in the devel

[2017-10-14 14:14] pratikthecook commented on #21
We have recreated your scenario and found no issue wth 80k+ records and 10000 page size.Are you using Angular CLI? If so please mention version number. Also please open the issue with the format given.

[2017-10-14 16:23] nni123 commented on #21
I can reopen the issue with the new format.

[2017-10-14 16:23] #21 closed

[2017-10-15 01:13] nni123 opened #22 "DataGrid performance issue with 80k records in local datastore"
## I'm submitting a...

<pre><code>
[x] Bug report
</code></pre>

## Current behavior
Datagrid demo code read modified country.JSON (50,000 records & country.json file size 15MB) with the page size of 10k.

After I start server localhost:4200 take-ups forever to load (maybe 3-5 minutes to get initial dataset). I get following error messages in chrome developer tools. FireFox throw error "script st

[2017-10-20 14:50] arafkarsh opened #23 "SA - DropDown does not work with lazy loading"
**Sender**: hryhoriy@tripcombi.com
**Comment**: Hey!

Dropbox doesn't re-render (re-construct) the list of items if the items are being created in promise (lazy loading).
I cannot use http link bc items can be only obtained by get with authorization tocken in the http headers.
[Open #9 in Usersnap Dashboard](https://usersnap.com/a/#/your-team-1s6s/p/amexio-api-a0fddca1/9)

<a href='https://usersna

[2017-10-21 04:11] pratikthecook commented on #23
Change Detection has been fixed. DropDown now works re-rendering data. Commit f3e167bc9e53793a3359b3a8956aeb76f027dc8b

[2017-10-21 04:11] #23 closed

[2017-10-24 17:56] arafkarsh opened #24 "SA - Editable Data Grid"
**Sender**: sachdeva.abhinav@gmail.com
**Comment**: Any plans to add Editable data grid with features of adding new row, editing existing row and deleting?
[Open #10 in Usersnap Dashboard](https://usersnap.com/a/#/your-team-1s6s/p/amexio-api-a0fddca1/10)

<a href='https://usersnappublic.s3.amazonaws.com/2017-10-24/19-55/732c24be-ddba-4a00-8081-2ed576ec2891.png'>![SA - Editable Data Grid](https://u

[2017-10-25 01:57] arafkarsh opened #25 "SA - Feedback Testing"
**Sender**: araf.karsh@metamagic.in
**Comment**: Check the attached comment
[Open #1 in Usersnap Dashboard](https://usersnap.com/a/#/your-team-1s6s/p/amexio-api-a0fddca1/1)
**Notes**:
 - (1) ... Checkbox functionality and a simple customizable ....

<a href='https://usersnappublic.s3.amazonaws.com/2017-07-12/13-16/56a614a4-fb87-48a6-8361-2c9e49a97acf.png'>![SA - Feedback Testing](https://usersnapp

[2017-11-08 12:36] arafkarsh opened #26 "SA - On the toggle switch page (http://www.amexio.org/showcaseapp/v3/index.html[...]"
**Sender**: fa.schweizer@gmail.com
**Comment**: On the toggle switch page (http://www.amexio.org/showcaseapp/v3/index.html#/toggle) there is a typo. "Sqaure Toggle" should be "Square Toggle"
[Open #11 in Usersnap Dashboard](https://usersnap.com/a/#/your-team-1s6s/p/amexio-api-a0fddca1/11)

<a href='https://usersnappublic.s3.amazonaws.com/2017-11-08/13-34/48719e21-a5e1-4fd5-a850-8773dc85a400.png'>!

[2017-11-09 05:26] #26 closed

[2017-11-10 19:18] abhinavsachdeva2701 opened #27 "Bootstrap sass instead of Bootstrap css"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Feature request
[ ] Documentation issue or request
[x ] Support request
</code></pre>

## Current behavior

In Angular-cli.json file, instead of pointing to bootstrap css, if it is pointed to bootstrap sass, amexio components are not rendering properly. In angul

[2017-11-14 04:23] helloneoberg commented on #11
Hi, I am facing the same issue. I merge the country sample your site had provided and I found that the data is able to bind to the grid and the page navigation is working. But the column filter is not dropping down for selection.
I had also merge the sample with row grouping, similarly the child rows are not displaying as I click on the parent.
I am using Angular Universal template and import thos

[2017-11-14 05:46] sagarjadhav968 commented on #11
@helloneoberg have you tried this without an angular universal app..

[2017-11-14 07:21] helloneoberg commented on #11
@sagarjadhav968, I only tried using Angular Universal as my whole development is using it.
I am using the template by: https://github.com/MarkPieszak/aspnetcore-angular2-universal
I had saw an open issue #27 (https://github.com/meta-magic/amexio.github.io/issues/27) which probably is facing the same issue as I notice the Angular template is using sass too.
Is there any workaround?

[2017-11-14 07:39] DatsGawas commented on #27
Which Angular CLI Version are you using ? As older versions of CLI needed to set a explicit flag for SCSS
`ng set defaults.styleExt scss` . We have reproduced the issue and set the angular-cli.json to
[code]
And Found no issue's.
Angular CLI Version :` 1.4.3`

[2017-11-14 07:39] #27 closed

[2017-11-14 10:01] sagarjadhav968 commented on #11
We are currently using bootstrap library which itself requires direct dom queries using jquery ...etc,
as angular universal is server side rendering and no direct dom queries are supported hence at this stage.our library won't support server side rendering.we do have planned release in near future to support angular universal.

[2017-11-15 01:02] helloneoberg commented on #11
@sagarjadhav968, noted. Thank you very much for your reply and clarification.

[2017-11-27 15:07] arafkarsh opened #28 "SA - Support for version 5 of angularjs 5"
**Sender**: ronald_ram@hotmail.com
**Comment**: When can we use AMEXIO with version 5 of Angular?
[Open #12 in Usersnap Dashboard](https://usersnap.com/a/#/your-team-1s6s/p/amexio-api-a0fddca1/12)

<a href='https://usersnappublic.s3.amazonaws.com/2017-11-27/16-05/299c58ae-79da-4e42-a995-f86e77e1a0a7.png'>![SA - Support for version 5 of angularjs 5](https://usersnappublic.s3.amazonaws.com/2017-11-2

[2017-11-28 13:47] pratikthecook commented on #28
We have this planned in the upcoming weekly release.

[2017-11-28 13:47] #28 closed

[2017-12-02 14:09] arafkarsh opened #29 "SA - amexio-ng-extensions is open source?"
**Sender**: bhanukumar04@gmail.com
**Comment**: Hello Team,
Am a full stack developer and we have decided to build app with Angular4, after going through the api of amexio-ng-extensions am thinking to use for a enterprise banking application. is this open source ? or for enterprise application is it licensed?
[Open #13 in Usersnap Dashboard](https://usersnap.com/a/#/your-team-1s6s/p/amexio-api-a0f

[2017-12-03 13:57] OnlyZero commented on #28
Thanks, I look forward to this

[2017-12-22 20:24] abhinavsachdeva2701 opened #30 "How to get tab title and know which tab is active using amexio-tabs?"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Feature request
[x ] Documentation issue or request
[ ] Support request
</code></pre>

## Current behavior

## Expected behavior

## Minimal reproduction of the problem with instructions
For bug reports please provide the *STEPS TO REPRODUCE* and if possible a *

[2017-12-23 10:35] pratikthecook commented on #30
Have you used the [active] attribute of <amexio-tab> ? It provides you which tab is currently active.

[2017-12-24 03:24] abhinavsachdeva2701 commented on #30
How to get a particular tab in typescript and get it's title and active
property? I also need to show the tab active based on title coming from
database matching the title property on the tab.

On Dec 23, 2017 5:35 AM, "Pratik Kelwalkar" <notifications@github.com>
wrote:

[2017-12-24 05:07] sagarjadhav968 commented on #30
V3.2.1 we have added activatedTab event which give current active tab info

[2017-12-25 05:03] pratikthecook commented on #30
Have created your scenario using the `activatedTab` event in the plunker : https://plnkr.co/edit/PMOBUOiSnSuqLx8OB0S1?p=preview

Closing with reference d1963ab7180aa88afde166fa64aaf4bc4936e4d9 .If you have any issues please re-open this.

[2017-12-25 05:03] #30 closed

[2017-12-25 10:33] lefthand250 opened #31 "I find a datagrid bug"
## I'm submitting a datagrid bug

<pre><code>
i find a datagrid bug in amexio-ng-extensions.umd.js line 1708

  /**
     * @param {?} httpResponse
     * @return {?}
     */
    DataTableComponent.prototype.getResponseData = /**
     * @param {?} httpResponse
     * @return {?}
     */
    function (httpResponse) {
        var /** @type {?} */ responsedata = httpResponse;
        var /** @type {?}

[2017-12-25 11:31] sagarjadhav968 commented on #31
Can you send dataTableBindData data and HTML tag of amexio datagrid which you written  in HTML file...

[2017-12-26 02:00] lefthand250 commented on #31
thanks for your reply。this is my  HTML tag and my dataTableBindData data
html:
<amexio-card-pane>
              <amexio-pane-header>
               Data Grid
              </amexio-pane-header>
              <amexio-pane-body>
                <amexio-data-table
                  [title]="'Data Grid'"
                  [pageSize] = "10"

                  [checkboxSelect]="true"
                  [

[2017-12-26 02:39] abhinavsachdeva2701 commented on #30
Thanks a lot for your help. Will let you know in case of any issues...
Amexio is awesome !!

On Dec 25, 2017 12:03 AM, "Pratik Kelwalkar" <notifications@github.com>
wrote:

[2017-12-26 04:10] sagarjadhav968 commented on #31
Please add  [dataReader]="'data'" in your tamexio-data-table html tag & change your data structure like...it works...
this.options = {
      "data": [{
        "countryName": "Myanmar",
        "countryCode1": "MM",
        "countryCode2": "MMR",
        "countryFlag": "MM.png"
        "capital": "",
        "currencyCode": "MMK",
        "currencyName": "Kyat",
        "currencySymbol": "K",

[2017-12-26 15:37] abhinavsachdeva2701 commented on #30
Hi Pratik,

Is it possible to add this activatedTab event to amexio below 3.2 version.
I have been using "amexio-ng-extensions": "^3.0.2", in my application, not
sure if I upgrade to 3.2, everything will work as expected, alongside I am
using Angular 4 and not Angular 5.

Thanks,
Abhinav

On Mon, Dec 25, 2017 at 9:39 PM, abhinav sachdeva <
sachdeva.abhinav@gmail.com> wrote:

--
Regards,
Abhinav

[2017-12-26 16:01] abhinavsachdeva2701 opened #32 "Please add activatedTab event to Amexio 3.0 version compatible with Angular 4. I have been using Angular 4 and amexio 3.0 version in my application and won't be able to upgrade to Angular 5 and Amexio 3.2 version."
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[x ] Feature request
[ ] Documentation issue or request
[ ] Support request
</code></pre>

## Current behavior

## Expected behavior

## Minimal reproduction of the problem with instructions
For bug reports please provide the *STEPS TO REPRODUCE* and if possible a *

[2017-12-27 05:22] sagarjadhav968 commented on #32
We are working on activatedTab event in Amexio 3.0 version..

[2017-12-27 12:26] pratikthecook commented on #30
@abhinavsachdeva2701 we will update this enhancement across all versions soon.

[2017-12-27 17:24] abhinavsachdeva2701 commented on #32
Thanks guys !! Your help appreciated.

[2017-12-28 08:03] pratikthecook commented on #32
Have added the fix f273a40e916d7c2bb69a6606550018399a39948e and released on the angular 4 version supported branch.

[2017-12-28 08:03] #32 closed

[2017-12-28 08:08] pratikthecook commented on #31
Haved fixed the issue f35b83f3111d95ac9886098078f6616afb016b5e , you can now use your JSON with the existing structure. Update the package using
`npm install amexio-ng-extensions@latest`

[2017-12-28 08:08] #31 closed

[2017-12-30 00:06] abhinavsachdeva2701 commented on #32
Hi Team,

I updated amexio package using npm install amexio-ng-extensions@3.0.11
--save

Added:

 <amexio-tab-pane  [closable]="false"
(activatedTab)="getActiveTab($event)"> to the Amexio 3.0 version

and wrote function in component ts file

getActiveTab(tab : any){
    console.log('It comes here');
    this.currentActiveTab = tab;
    console.log(this.currentActiveTab);
  }

On click of tabs it i

[2017-12-30 01:00] sagarjadhav968 commented on #32
Please can you install amexio-ng-extensions@3.0.12 which is latest one....

[2018-01-05 16:06] Chris-Slade opened #33 "DataTableComponent does not preserve object methods when using dataTableBindData"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[x] Feature request
[ ] Documentation issue or request
[ ] Support request
</code></pre>

## Current behavior

The DataTableComponent does not preserve methods on the objects provided. This behavior works fine when using the `http` API for retrieving data for the ta

[2018-01-11 19:01] yashjit opened #34 "Install Dependent Libraries does not work"
ERROR in Metadata version mismatch for module /amex.io/node_modules/amexio-ng-extensions/amexio-ng-extensions.d.ts, found version 4, expected 3, resolving symbol AppModule in /amex.io/src/app/app.module.ts, resolving symbol AppModule in /amex.io/src/app/app.module.ts

"dependencies": {
    "@angular/animations": "^4.2.4",
    "@angular/common": "^4.2.4",
    "@angular/compiler": "^4.2.4",
    "@an

[2018-01-17 02:09] abhinavsachdeva2701 opened #35 "Help Requested, Error in deploying Amexio Angular App in Tomcat server"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Feature request
[ ] Documentation issue or request
[ x] Support request
</code></pre>

## Current behavior
I am using Amexio to develop Angular 4 application. Right now, everything works fine when application is deployed in my local tomcat, it access REST API's

[2018-01-17 05:11] sagarjadhav968 commented on #35
Hi @abhinavsachdeva2701
Have u checked your app working in other Browser like Chrome, Firefox...

[2018-01-22 17:25] yashjit opened #36 "Radio Button does not works under ngx-admin hood as no value property provided."
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
</code></pre>

## Current behavior

## Expected behavior

## Minimal reproduction of the problem with instructions
For bug reports please provide the *STEPS TO REPRODUCE* and if possible a *M

[2018-01-23 00:38] sagarjadhav968 commented on #36
Can u provide HTML tag of amexio radio which is you used..

[2018-01-25 08:30] yashjit commented on #36
<amexio-radio-group [fieldLabel]="'Horizontal RadioGroup'" name ="gender"
              [fieldName]="'genderDemo'"
              [dataReader]="'response.data'"
              [displayField]="'gender'"
              [valueField]="'genderId'"
              [radioGroupBindData]="radioGroupData"
              (selectedValue)="setSelectedGender($event)"
              [column]="'6'">
</amexio-radio-group

[2018-01-25 12:29] sagarthecook commented on #36
@yashjit Please use an event which is setSelectedGender for getting all the selected values.

[2018-02-05 07:05] pratikthecook commented on #34
if you are using Angular Version < 5, then you need to install amexio version 3.0.11, as amexio 3.2+ supports only Angular 5+.

[2018-02-05 07:07] pratikthecook commented on #35
404 on  https://github.com/abhinavsachdeva2701/dqframework.git. Yes, you have to reference Amexio from app folder only.

[2018-02-05 15:45] abhinavsachdeva2701 commented on #35
This issue is resolved, we can close it.

On Mon, Feb 5, 2018 at 2:07 AM, Pratik Kelwalkar <notifications@github.com>
wrote:

--
Regards,
Abhinav

[2018-02-05 15:48] ketan-gote commented on #35
Thanks. Do check our new Amexio Version 4, let us know your feedback.

[2018-02-05 15:48] #35 closed

[2018-02-05 16:33] abhinavsachdeva2701 commented on #35
Sure. Thanks to your team for the awesome framework.

On Feb 5, 2018 10:48 AM, "Ketan Gote" <notifications@github.com> wrote:

[2018-02-05 18:16] arafkarsh opened #37 "SA - 2018-02-05 19:16:55"
[Open #14 in Usersnap Dashboard](https://usersnap.com/a/#/your-team-1s6s/p/amexio-api-a0fddca1/14)

<a href='https://usersnappublic.s3.amazonaws.com/2018-02-05/19-16/216a4fd9-0916-428c-b67b-a238ffa3342c.png'>![SA - 2018-02-05 19:16:55](https://usersnappublic.s3.amazonaws.com/2018-02-05/19-16/e71aaca7-8c6e-41a7-a154-e228e15c2b4a.jpg)</a>
<a href='https://usersnappublic.s3.amazonaws.com/2018-02-05/1

[2018-02-05 18:17] arafkarsh opened #38 "SA - API Docs Issues"
**Sender**: araf.karsh@metamagic.in
**Comment**: API Docs Issues
[Open #15 in Usersnap Dashboard](https://usersnap.com/a/#/your-team-1s6s/p/amexio-api-a0fddca1/15)

<a href='https://usersnappublic.s3.amazonaws.com/2018-02-05/19-17/41963035-36c8-41cb-b8fd-e83226bac372.png'>![SA - API Docs Issues](https://usersnappublic.s3.amazonaws.com/2018-02-05/19-17/7a34b6e5-49a9-423e-b67d-83884495575b.jpg)</a>

[2018-02-06 10:25] yashjit opened #39 "How to give my custome class applied on email input box place holder color and text color."
<amexio-email-input
[hasLabel]="false"
name ="userEmail"
(ngModel)="userEmail"
[placeholder]="'Email Id'"
[allowBlank]="false"
[errorMsg] ="'Please enter Email Id. '"
[enablePopOver]="false"
[iconFeedBack]="true"
class="test" **----My Custom class**

My custom class does not applied to the input control which is email. test class load on span tag i.e feedback icon.

Is there any provision to place

[2018-02-08 02:20] abhinavsachdeva2701 opened #40 "How to display selected in amexio-dropdown by matching Key of two rest end points?"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Feature request
[ ] Documentation issue or request
[x ] Support request
</code></pre>

## Current behavior

## Expected behavior
While using amexio-dropdown, I want to display the selected value by matching the Key coming from Rest API. Rest API is returning dat

[2018-02-08 04:32] sagarthecook commented on #40
@abhinavsachdeva2701 You need to write your own logic on onSingleSelect event of amexio dropdown...

[2018-02-08 04:55] abhinavsachdeva2701 commented on #40
My question is when drop-down is loaded how to show selected value which is
coming from rest API ?

On Feb 7, 2018 11:32 PM, "Sagar Jadhav" <notifications@github.com> wrote:

[2018-02-08 05:04] pratikthecook commented on #40
Dropdown now emits the entire row data i.e `{key1: "", value1: ""}`  from the `onSingleSelect` event,besides the `ngModel's value` which is selected.
704e767b9fe3ba202b946b74d7f1a34661144aed

[2018-02-08 05:14] pratikthecook commented on #39
Try overriding the `input-control` from your app. For your reference : [CSS Class Definition Link ](https://github.com/meta-magic/amexio.github.io/blob/704e767b9fe3ba202b946b74d7f1a34661144aed/src/styles/default/componentstyles/input.scss#L31)
If your issue is resolved, please do Close it.

[2018-02-08 10:49] arafkarsh opened #41 "SA - Media Video Player"
**Sender**: araf.karsh@metamagic.in
**Comment**: Video player internals must be based on HTML5 standards.
[Open #16 in Usersnap Dashboard](https://usersnap.com/a/#/your-team-1s6s/p/amexio-api-a0fddca1/16)
**Notes**:
 - (1) Video player internals must be based on HTML5 Standards

<a href='https://usersnappublic.s3.amazonaws.com/2018-02-08/11-48/5b4c64a4-cd15-4a4a-b84d-a25b7d0de436.png'>![SA - Media

[2018-02-08 14:23] baminmru opened #42 "step box with box and icons [active] flag has inversed logic"
## I'm submitting a...

<pre><code>
[X] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
</code></pre>

## Current behavior

<amexio-step-block  [active]="true"...   -   user cannot click  "active" block

## Expected behavior

<amexio-step-block  [active]="true"...   -   user CAN

[2018-02-08 14:35] baminmru opened #43 "Data grid single row select mode"
## I'm submitting a...

<pre><code>
[ X] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
</code></pre>

## Current behavior

When I click a datagrid row, the highlight color is applied to the row.
But when I click on another row selection the color on the previous row does not c

[2018-02-08 17:40] sagarthecook commented on #42
@baminmru We have fixed this issue in amexio version 4.0.7 Please checkout..

[2018-02-08 18:19] bhanukumar04 opened #44 "Can't resolve 'slider.png' in amexio-ng-extensions\styles\css\at-md-blue.css"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
</code></pre>

## Current behavior
Looks like the images are not relative to the path specified in the css file, i can see the respective images are in the image folder.
Can't resolve 'slider

[2018-02-09 07:00] pratikthecook commented on #44
Fixed the missing file issue 96b0776d13c78b821f617343e52383c9c499d223. For now you could run the app by setting the    `"styles": [ "../node_modules/amexio-ng-extensions/styles/css/at-md-blue.scss" ]` &  `"defaults": {"styleExt": "scss" }`
in your .angular-cli.json.

[2018-02-09 07:20] bhanukumar04 commented on #44
sure, will do it.  when  is the next build planned to put in npm rep?

[2018-02-09 07:35] baminmru commented on #42
Thank You. Please tell me where I can see actual source code of the demo application for Amexio V4?

[2018-02-09 08:09] pratikthecook commented on #41
Fixed

[2018-02-09 16:03] baminmru opened #45 "dropdown [(ngModel)]= "variable" work only from dropdown to variable"
## I'm submitting a...

<pre><code>
[ X] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
</code></pre>

## Current behavior

data in dropdown control changed only when selection changed, and NOT changed when I change value of bound varible

## Expected behavior

Two-Way Data Bin

[2018-02-11 14:25] baminmru opened #46 "file upload attribute [field-label] not work"
## I'm submitting a...

<pre><code>
[ х ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
</code></pre>

## Current behavior

 [field-label]="'Photo Upload'"  but on form  I see label: Choose File

## Expected behavior

Label set to string from [field-label] attribute

## Minima

[2018-02-11 14:42] baminmru opened #47 "file upload dont send data to http-url"
## I'm submitting a...

<pre><code>
[ х ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
</code></pre>

## Current behavior

I select file from open file dialog, but I can not see a request to webserver from file upload control.
No network activity!

## Expected behavior

send

[2018-02-11 14:49] baminmru commented on #45
This work fine in Amexio 3.2.
And now  this bug is critical !

Offer to make changes in the  dropdown.component.ts
and copy lines 174...183   after line 280  ( in function set value)
and also to function writeValue.
I use dropdown in single select mode and  this changes is ok for me.

[2018-02-11 19:49] baminmru opened #48 "dropdown control open list only on click to textinput, click on arrow icon dont work"
## I'm submitting a...

<pre><code>
[X ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
</code></pre>

## Current behavior

control open list only on click to textinput, click on arrow icon dont work

## Expected behavior

## Minimal reproduction of the problem with instruction

[2018-02-11 21:25] arafkarsh commented on #48
We are working on this issue. Will get back to you asap.

[2018-02-11 21:29] arafkarsh commented on #47
We are working on this issue. Will get back to you asap.

[2018-02-11 21:30] arafkarsh commented on #46
We are working on this issue. Will get back to you asap.

[2018-02-11 21:31] arafkarsh commented on #45
We are working on this issue. Will get back to you asap.

[2018-02-11 21:44] arafkarsh commented on #43
We are working on this issue. Will get back to you asap.

[2018-02-11 21:46] #13 closed

[2018-02-11 21:47] #29 closed

[2018-02-12 04:32] DatsGawas commented on #43
we have fixed this issue you will get the update in 4.0.8 version.

[2018-02-12 04:33] #43 closed, assigned to anaghak07, DatsGawas

[2018-02-12 05:10] ketan-gote commented on #25
Closing the issue.

[2018-02-12 05:10] #25 closed

[2018-02-12 05:11] ketan-gote commented on #44
Fix will be part of 4.0.8

[2018-02-12 05:11] #44 closed, assigned to pratikthecook

[2018-02-12 08:20] sagarthecook commented on #46
This issue has been fixed and will be available on v4.0.8 97b4ffa590b6fd39eb29effda5e170945cc24761

[2018-02-12 08:21] sagarthecook commented on #47
This issue has been fixed and will be available on v4.0.8 97b4ffa590b6fd39eb29effda5e170945cc24761

[2018-02-12 08:23] #42 closed, assigned to sagarthecook, anaghak07

[2018-02-12 08:24] #36 closed

[2018-02-12 08:25] #41 closed, assigned to pratikthecook, ketan-gote

[2018-02-12 08:26] #34 closed

[2018-02-12 13:19] #40 closed, assigned to pratikthecook, sagarthecook

[2018-02-12 15:10] DatsGawas commented on #45
Hi @baminmru
    we have fixed this issue you will get update in 4.0.8 version.

[2018-02-12 15:11] #45 closed, assigned to DatsGawas

[2018-02-12 15:13] DatsGawas commented on #48
@baminmru
   we have fixed this issue you will get update in 4.0.8 version.

[2018-02-12 15:13] #48 closed, assigned to DatsGawas

[2018-02-12 16:15] baminmru opened #50 "Please comment 'debugger' command at numberinput.component.ts line 128"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Feature request
[ ] Documentation issue or request
[X ] Support request
</code></pre>

## Current behavior

program switch into debugger mode

## Expected behavior

## Minimal reproduction of the problem with instructions
For bug reports please provide the *STEP

[2018-02-13 00:57] abhinavsachdeva2701 opened #51 "Will it be possible to have plunker which we had previously on amexio website for amexio 3.0.x with Angular 4?"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Feature request
[ x] Documentation issue or request
[ ] Support request
</code></pre>

## Current behavior
We only have live section which works with new source code of Amexio

## Expected behavior
I was expecting to still have plunker which we had earlier for a

[2018-02-13 01:05] abhinavsachdeva2701 commented on #51
I have found it. http://www.amexio.org/showcaseapp/v3/index.html#/dropdwnsearch
Thanks.

[2018-02-13 01:05] #51 closed, assigned to nobody

[2018-02-13 01:15] abhinavsachdeva2701 opened #52 "Will the dropdown ngModel gets the selected value in amexio 3.0.x and angular 4?"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Feature request
[ ] Documentation issue or request
[x ] Support request
</code></pre>

## Current behavior
In this link, http://www.amexio.org/showcaseapp/v3/index.html#/dropdownbasic, which shows the plunker where in ngModel in the example is taking sportName.

[2018-02-13 02:49] abhinavsachdeva2701 commented on #52
Resolved. Thanks !!

[2018-02-13 02:49] #52 closed, assigned to nobody

[2018-02-13 05:52] DatsGawas commented on #50
debugger removed.

[2018-02-13 05:53] #50 closed, assigned to DatsGawas

[2018-02-13 05:54] #47 closed, assigned to sagarthecook

[2018-02-13 05:54] #46 closed, assigned to sagarthecook

[2018-02-13 05:55] #38 closed, assigned to ketan-gote

[2018-02-13 05:55] #37 closed, assigned to ketan-gote

[2018-02-13 06:55] bhanukumar04 opened #53 "Warning : Can not find grid areas: north, east, center, west, south @ at-md-blue.css:3134:5"
## I'm submitting a...

<pre><code>
[ X] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
</code></pre>

## Current behavior
Using   "../node_modules/amexio-ng-extensions/styles/css/at-md-blue.css"  in angular-cli.json, build is successful but giving a warning as below:

WARNING

[2018-02-13 11:43] baminmru opened #54 "Need Sample for dynamically changing menu using navbar or ( and) sidebar"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Feature request
[X ] Documentation issue or request
[X ] Support request
</code></pre>

## Current behavior

In some scenario I need disable or hide some menu items.  Can you add sample whith dynamic menu in documentation.

## Expected behavior

## Minimal repro

[2018-02-13 13:32] DatsGawas commented on #54
Hi @baminmru
 Currently we don't have disable functionality for sidenavbar but we have hide functionality.
 here is the [demo](https://stackblitz.com/edit/sidenav-demo)

[2018-02-14 05:05] pratikthecook commented on #53
We will be removing these warnings in next release as it seems to be a issue while theming angular components, you can check out the issue on Angular CLI Repo [Issue](https://github.com/angular/angular-cli/issues/9502#issuecomment-363119819)

[2018-02-14 05:05] #39 closed, assigned to pratikthecook

[2018-02-19 07:23] baminmru opened #55 "Wrong toggle image size"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X ] Bug report
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
</code></pre>

## Current behavior

In  http://www.amexio.org/showcaseapp/v4/index.html#/toggle-demo   width of toggle is OK.
But in live preview   https://amexio-v4-toggle.stackblitz.io/#/t

[2018-02-19 09:50] pratikthecook commented on #55
Thanks for reporting. Fixed in 3cfa37f658e25fe8fb2d1a6ebc94d4c9c2b50806

[2018-02-22 07:51] yashjit opened #56 "Form level validation not working form.invalid or !form.valid to [disabled] etc are not seems to be working"
Various form validations (invalid,valid etc) missing or i need to know more about amexio.
ngSubmit submits the form while selecting a row in basic drop down.

[2018-02-22 10:21] bhanukumar04 opened #57 "Data Grid, post call should accept data body"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[X ] Feature request
[ ] Documentation issue or request
[ ] Support request
</code></pre>

## Current behavior
we are not able to pass any data to back end even though the method call type is POST, it just behaves like a get call method.

## Expected behavior
when u

[2018-02-22 10:39] pratikthecook commented on #56
@yashjit can u please elaborate or demonstrate with your source ?

[2018-02-22 10:56] yashjit commented on #56
My Form Given Below - If I submit, then no form validation available to stop submitting form. Even if I select the row from drop down it submitted the form. If I use Angular form controls and validate them then it works smoothly.
---------------------------------------------------------------------------------------------------------------

"<form id="dForm" name="dForm" (ngSubmit)="submitD()" #dF

[2018-02-23 13:50] bhanukumar04 opened #58 "Pagination component Onfirst click, page change event is not emitted."
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ X] Bug report
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
</code></pre>

## Current behavior
when you click on page last its working and emitting the page change event , but when you click on the go to first its not emitting the events.

see the  p

[2018-02-24 16:09] baminmru opened #59 "amexio-window action buttons not accessible if form height more screen height"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ x] Bug report
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
</code></pre>

## Current behavior

In big form action part of window not visible on screen. Scroll not work.

## Expected behavior

Possible scrool window ( with screen or not)
![big_form_e

[2018-02-24 17:34] arafkarsh commented on #59
We are looking into this issue and will get back to you asap.

[2018-02-24 17:49] #55 closed, assigned to pratikthecook

[2018-02-24 17:49] #53 closed, assigned to pratikthecook

[2018-02-25 13:10] baminmru opened #60 "time picker - manual input for hour / minute dont work"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ X ] Bug report
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
</code></pre>

## Current behavior

Manual input dont work in control.
I change minute to 00 manually  and send  data to server.
After refresh minutes set back to 22 ( for example).

## Exp

[2018-02-26 04:37] pratikthecook commented on #58
Fixed 32de82626782e760c8a95fb04914265369ba25d5

[2018-02-26 04:37] #58 closed, assigned to pratikthecook

[2018-02-26 04:42] pratikthecook commented on #57
You could call your post method directly with the body and assign it to `[data]` attribute. We will be adding a attribute `[payload]` to future version release. Thanks for your feedback!.

[2018-02-26 04:51] arafkarsh commented on #57
Dear Bhanu,
If you would like to get the release emails and feature announcements. Please subscribe to Amexio Mailing list. Click on the subscribe option (at the bottom of the Home page) https://www.amexio.tech

[2018-02-26 05:09] bhanukumar04 commented on #57
:thumbsup:

[2018-02-26 05:25] ketan-gote commented on #59
@baminmru Issue is fixed and will be available as part of our next update 4.0.10

[2018-02-26 06:23] pratikthecook commented on #56
Currently you would have to work with the Angular Form, as for the <form> tags, we would be supporting them in upcoming releases.

[2018-02-26 11:18] pratikthecook commented on #60
Fixed 1f2e0d8ae568abf4fcfd7d9e8ac4f7c8ced80dfe

[2018-02-27 20:09] baminmru commented on #59
![big_form_error2](https://user-images.githubusercontent.com/16590085/36752363-ed68ed20-1c13-11e8-8f82-87b24fb5b1f6.png)
In version 4.10 I found some errors.  ( form height more  then screen height)
1. [body-height]="80"   -  white box after  footer
2. [body-height]="80"  [maximize]="true"  ;  click restore button ->  body-height =100%  and footer not visible again

[2018-02-27 20:13] baminmru commented on #59
![big_form_error2](https://user-images.githubusercontent.com/16590085/36752320-c5b36a80-1c13-11e8-8d10-31f5a3545294.png)

[2018-02-27 20:20] baminmru opened #61 "Need sample with any HTML Editor working inside card or window"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[x ] Feature request
[x ] Documentation issue or request
[ ] Support request
</code></pre>

## Current behavior

I test some HTML editor library , but all of them has a visibility problem inside card or window

## Expected behavior

## Minimal reproduction of the pr

[2018-02-27 20:54] abhinavsachdeva2701 opened #62 "Is it possible to populate amexio dropdown without using http-url property?"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Feature request
[ ] Documentation issue or request
[ x] Support request
</code></pre>

## Current behavior
Right now, when I pass REST API Url in the amexio dropdown in http-url property, the dropdown populates with values.

## Expected behavior
Is it possible t

[2018-02-28 04:39] sagarthecook commented on #62
@abhinavsachdeva2701 You can use data attribute for local data refer [Link](http://amexio.org/api/v4/index.html#/dropdownbasic)

[2018-02-28 04:51] ketan-gote commented on #61
@baminmru - will checkout card/window component with html editor and get back to you. Between can you tell us which html editor you used

[2018-02-28 04:55] ketan-gote commented on #59
@baminmru Please find sample link http://amexio.org/test/api/v4/#/window.

body-height attribute works with actual html body height.

[2018-02-28 05:19] #57 closed, assigned to pratikthecook

[2018-02-28 05:19] #60 closed, assigned to pratikthecook, DatsGawas

[2018-02-28 07:01] baminmru commented on #59
try to test form with 15-20 controls
![big_form_error3](https://user-images.githubusercontent.com/16590085/36774261-5ad17846-1c6e-11e8-955c-cb87a0668eae.png)

[2018-02-28 07:16] baminmru commented on #62
--- html ---

<amexio-dropdown
	 [field-label]="'Only one answer'" name ="onlyOneAnswer"
	 [(ngModel)]="onlyOneAnswer"
	 [display-field]="'name'"
	 [value-field]="'id'"
	 [data]="enumTriStateCombo()"

</amexio-dropdown>

--- typescript ---

export class ComboInfo{
	id:string;
	name:string;
}

/* YesNo - No / Yes -> (0 / 1) */
public enumYesNoCombo(){
	return this.enumYesNo;
}
enumYesNo:Array<Combo

[2018-02-28 07:28] baminmru commented on #61
I try :
tinymce-angular
ngx-wig
medium-editor
ckeditor-5

I can send sample components by email.

[2018-02-28 07:49] baminmru commented on #61
28.02.2018 7:51, Ketan Gote пишет:

In attachment my experimental components  for ck-editor and medium-editor.

[2018-02-28 09:12] ketan-gote commented on #59
Our stackblitz example for API are based on 4.0.7 its not updated with latest amexio 4.0.10.  body-height attribute was added as part of 4.0.10.

Have created sample please check below link. Have given body height to 80percentage

https://stackblitz.com/edit/amexio-v4-window-issue-5-poc?file=app/panels/window/window.demo.html

<img width="1473" alt="screen shot 2018-02-28 at 2 36 12 pm" src="https

[2018-02-28 10:14] arafkarsh opened #63 "SA - Testing"
**Sender**: baranwal.manish@gmail.com
**Comment**: Testing
[Open #17 in Usersnap Dashboard](https://usersnap.com/a/#/your-team-1s6s/p/amexio-api-a0fddca1/17)
**Notes**:
 - (1) Hi

<a href='https://usersnappublic.s3.amazonaws.com/2018-02-28/11-13/7d4ed82b-ead3-489c-8a99-a1b49e2cbbfb.png'>![SA - Testing](https://usersnappublic.s3.amazonaws.com/2018-02-28/11-13/c9dc1a48-2ab0-4451-96ac-61881411f9b4.jp

[2018-02-28 15:33] DatsGawas commented on #62
Hi @baminmru [data] attribute takes input as Array or Object.
your code should be like this
<amexio-dropdown
[field-label]="'Only one answer'" name ="onlyOneAnswer"
[(ngModel)]="onlyOneAnswer"
[display-field]="'name'"
[value-field]="'id'"
[data]="enumYesNo"

[2018-02-28 18:58] baminmru commented on #62
[data]="enumYesNo()"

enumYesNo  is function returning array, not property

[2018-03-01 02:04] abhinavsachdeva2701 commented on #62
Thanks Team, I was able to get it working !!

[2018-03-01 02:32] abhinavsachdeva2701 opened #64 "Dropdown scrollbar drag not working in IE11"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ x] Bug report
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
</code></pre>

## Current behavior
I have made dropdown scrollable by adding following property
.amexio-dropdown-menu{
                max-height: 500px;
                overflow: auto;

[2018-03-01 04:09] #62 closed, assigned to sagarthecook

[2018-03-01 06:52] baminmru commented on #61
The problem is solved. Component [https://github.com/stevermeister/ngx](https://github.com/stevermeister/ngx-wig) in version 4.0.10 started to appear on the forms.

Test usage:
 `<amexio-card [show]="true" [header] ="true" [footer] ="false" >
    <amexio-header>
	<amexio-row>
		<amexio-column size="12" >
		About
		</amexio-column>
	</amexio-row>
	</amexio-header>
	<amexio-body>
		<amexio-row>
		<a

[2018-03-08 14:31] abhinavsachdeva2701 commented on #64
Hi Team, Here is the IE version which is getting used for our application. Can we please investigate. If it is not working then I will have to use simple dropdown instead of amexio dropdown and that is huge code change.
![image001](https://user-images.githubusercontent.com/16698964/37156170-5df67594-22b3-11e8-9688-759ab6018d53.png)

[2018-03-08 16:40] bhanukumar04 opened #65 "PROD Build gives error : Property 'auto' does not exist on type 'AmexioWindowPaneComponent'."
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X ] Bug report
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
</code></pre>

## Current behavior
when i do ng build --prod on the project it gives me the  error:
**ERROR in node_modules\amexio-ng-extensions\amexio-ng-extensions.d.ts.AmexioWindowPaneCom

[2018-03-08 16:52] bhanukumar04 commented on #53
i have checked the latest release(4.0.10)  still issue exists, attached the project , do npm install and do **ng serve** it will show the warning message.
[AmexioWindowSample.zip](https://github.com/meta-magic/amexio.github.io/files/1793985/AmexioWindowSample.zip)

[2018-03-08 17:06] ketan-gote commented on #65
@bhanukumar04  - We will look into this asap, and release the patch for it.

[2018-03-08 17:17] ketan-gote commented on #65
@bhanukumar04 - Issue has been fixed and pushed. Please use amexio-ng-extensions@4.0.11

[2018-03-08 17:26] bhanukumar04 commented on #65
Thank you, it was really very quick, Appreciate it!!  Now the prod build is passing , this can be closed.

[2018-03-13 08:59] arafkarsh opened #66 "SA - Trying to understand if you are sniping user data in the page"
**Sender**: a.b@c.com
**Comment**: Trying to understand if you are sniping user data in the page
[Open #18 in Usersnap Dashboard](https://usersnap.com/a/#/your-team-1s6s/p/amexio-api-a0fddca1/18)
**Notes**:
 - (1) how are you saving this feedback

<a href='https://usersnappublic.s3.amazonaws.com/2018-03-13/09-55/93b17856-05bd-40a7-ba4b-7fd90500a292.png'>![SA - Trying to understand if you are snipi

[2018-03-13 13:54] ketan-gote commented on #65
Closing Issue

[2018-03-13 13:55] ketan-gote commented on #65
Closing

[2018-03-13 13:55] #65 closed, assigned to ketan-gote

[2018-03-14 19:45] abhinavsachdeva2701 opened #67 "How to get amexio tab disabled based on a condition, is there any property on the tab?"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Feature request
[ ] Documentation issue or request
[ x] Support request
</code></pre>

## Current behavior

I am using amexio -tab (Horizontal) in my application

## Expected behavior
Based on certain condition, i.e. if type from REST API is coming as daily, i w

[2018-03-14 23:52] sagarthecook commented on #67
Tab disabled  property is not available in current version of Amexio.we will add this property in next versioned amexio.

[2018-03-15 03:48] yashjit opened #68 "Data Grid - Group BY"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x ] Bug report
[ x] Feature request
[ ] Documentation issue or request
[ x] Support request
</code></pre>

## Current behavior

DataGrid - Group By Feature -
Table Header columns are arranged in alphabetical order not the column name I want.

## Expected behavior

(Id, Company, E

[2018-03-15 03:50] yashjit commented on #68
<img width="678" alt="screen shot 2018-03-15 at 9 12 48 am" src="https://user-images.githubusercontent.com/5338674/37443424-0f1faff6-2832-11e8-9920-d88b5072f6b1.png">

[2018-03-15 04:52] ketan-gote commented on #61
Closing Issue

[2018-03-15 04:52] #61 closed, assigned to ketan-gote

[2018-03-15 04:53] ketan-gote commented on #59
Closing issue.

[2018-03-15 04:53] #59 closed, assigned to ketan-gote, DatsGawas

[2018-03-15 04:53] ketan-gote commented on #54
Closing issue.

[2018-03-15 04:53] #54 closed, assigned to nobody

[2018-03-15 05:04] ketan-gote commented on #64
@abhinavsachdeva2701

We tested our demo app on IE11 and Edge, and dropdown is working. Can you let us which version of Amexio you are using. Also we can not made drop-down content drag-able.

<img width="1596" alt="screen shot 2018-03-15 at 10 31 24 am" src="https://user-images.githubusercontent.com/23295769/37445173-418bb278-283c-11e8-999b-d43712c718a5.png">

[2018-03-16 15:57] abhinavsachdeva2701 commented on #67
Hi Team, there is a disable property already available to use in amexio 3.x version, I was able to get it working. Thanks. It could be enhancement in amexio current version, not sure.

[2018-03-16 16:16] abhinavsachdeva2701 commented on #64
It's IE 11 version 11.0.9600.18837, yes it's working in my laptop IE edge and IE 11, but in my office IE 11 version, it seems to not work, looks like when i make it open box instead of dropdown, the scrollbar works. For now have replaced with simple dropdown as go-live date is near by, but will continue to fix this soon. If you are able to replicate it and figure out, please let me know. Thanks.

[2018-03-21 10:06] arafkarsh opened #69 "SA - Hi, can you please add stacked Bar chart. Curretly, you are proving the m[...]"
**Sender**: durgaprasad.madamsetti@gmail.com
**Comment**: Hi,

can you please add stacked Bar chart. Curretly, you are proving the multiple bars iwth different color. We need one bar should divided into the different colors.

Thanks & regards
Durga
[Open #19 in Usersnap Dashboard](https://usersnap.com/a/#/your-team-1s6s/p/amexio-api-a0fddca1/19)

<a href='https://usersnappublic.s3.amazonaws.com/20

[2018-03-21 10:16] ketan-gote commented on #69
Bar chart has stacked bar option, we will send small example of stack bar implementation to you.

[2018-03-22 05:50] bhanukumar04 opened #70 "LICENSE file is not present under node_modules\amexio-ng-extensions"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[X ] Feature request
[ ] Documentation issue or request
[ ] Support request
</code></pre>

## Current behavior
When using Angular CLI , if we are doing prod build if there is LICENSE  file under node module package, it will automatically added 3rdpartylicenses.txt f

[2018-03-22 08:44] sagarthecook commented on #69
Stacked Bar Chart example:[http://amexio.org/api/v4.1/index.html#/bar-chart-demo](url)

[2018-03-23 09:00] bhanukumar04 opened #71 "Feature Request - Data grid column grouping should be possible"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ X] Feature request
[ ] Documentation issue or request
[ ] Support request
</code></pre>

## Current behavior
Column  grouping in data grid is not possible

## Expected behavior
we should be able to group columns in data grid at least two levels

## Minimal reprodu

[2018-03-24 16:25] arafkarsh commented on #71
Good one, we will see if we can add this feature update to a point release.

[2018-04-03 11:46] baminmru opened #72 "In Version 5.20. DropDown control show previous value if bound value is null or undefined"
## I'm submitting a...

<pre><code>
[X] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
</code></pre>

## Current behavior

Case 1:
I use same form for edit and create new records.
I open record for edit. I close form, and  after open form for new record.  All Dropdown controls

[2018-04-03 13:55] baminmru commented on #72
drop down work ok in 4.1.3

[2018-04-03 14:01] baminmru opened #73 "reopen issue #42 for v4.1.3 step box with box and icons: cursor have inverse logic"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
</code></pre>

## Current behavior

## Expected behavior

## Minimal reproduction of the problem with instructions
For bug reports please provide the *STEPS TO REPRODUCE* and if possible a *M

[2018-04-03 14:10] baminmru opened #74 "amexio-nav-item *ngFor don't work for top level items"
## I'm submitting a...

<pre><code>
[X ] Regression (a behavior that used to work and stopped working in a new release)
[  ] Bug report
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
</code></pre>

## Current behavior

<amexio-nav [title]="'1234'"
			[logo]="'assets/images/logos/logo.png'"
			[enable-side-nav-position]="false">
  <amexio-nav-item position-left *ngFor="l

[2018-04-03 14:20] baminmru opened #75 "Form validation. How to check mandatory fields are filled on form before process input data ?"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ X] Feature request
[ ] Documentation issue or request
[ ] Support request
</code></pre>

## Current behavior

## Expected behavior

## Minimal reproduction of the problem with instructions
For bug reports please provide the *STEPS TO REPRODUCE* and if possible a *

[2018-04-03 14:32] sagarthecook commented on #42
@baminmru  we will check and get back to you soon

[2018-04-03 14:32] sagarthecook commented on #75
@baminmru you need to add angular form validation.

[2018-04-03 14:36] sagarthecook commented on #74
@baminmru we have updated navbar component from v.4.1.3
refer [http://amexio.org/api/v4.1/index.html#/navbar-demo](url)

[2018-04-03 15:18] sagarthecook commented on #73
@baminmru we will check and get back to you soon.

[2018-04-04 04:04] ketan-gote commented on #75
@baminmru - We are adding form component in upcoming release which should take care for form validation. Till this component is release you will required to use angular validation using form.

[2018-04-04 04:08] ketan-gote commented on #74
@baminmru - We have enhanced navbar with new features so it can have link, button, textfield, dropdown menus (with icon + text). Please check API demo section for navbar.

[2018-04-04 04:10] ketan-gote commented on #69
Closing this issue.

[2018-04-04 04:10] #69 closed, assigned to ketan-gote, sagarthecook

[2018-04-04 04:14] ketan-gote commented on #64
Closing this issue, as its working of IE11 and Edge. Also it looks specific problem on some office machine.

[2018-04-04 04:14] #64 closed, assigned to ketan-gote

[2018-04-04 08:41] anaghak07 commented on #73
this issue is fixed and will be part of Amexio  v4.1.5

fixes applied for step-box coursor
active : default , disabled : disabled , clickable : pointer

for more information visist  http://amexio.org/api/v4.1/index.html#/step-box

[2018-04-04 08:44] anaghak07 commented on #67
feature to disable tab will be available in Amexio v 4.1.5 update

for more information visit http://amexio.org/api/v4.1/index.html#/basic-tab-demo

[2018-04-06 16:55] baminmru opened #76 "REOPEN BUG Data grid single row select mode #43"
## I'm submitting a...

<pre><code>
[X] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
</code></pre>

## Current behavior

## Expected behavior

## Minimal reproduction of the problem with instructions
For bug reports please provide the *STEPS TO REPRODUCE* and if possible a *M

[2018-04-09 07:54] baminmru opened #77 "DropDown control. Display text always emtpty if bound value = 0"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ X ] Bug report
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
</code></pre>

## Current behavior

I have enum with  values   0 -X  1 - Y 2 -Z
I use DropDown to show data on form
if var value 1 or 2 i see Y or Z,  if var value=0 DropDown text steel emp

[2018-04-09 07:58] baminmru commented on #75
I try to use FormGroup+FormControl, but when  I add FormControlName =  "name"  to Amexio Control HTML markup  TS Compiler generate  errors (value property not defined).

Please create working sample for  validation.

[2018-04-10 04:11] bhanukumar04 commented on #71
@sagarjadhav968  are we expecting this feature in the next release?

[2018-04-10 05:45] baminmru opened #78 "Negative Page Numbers in paging control"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X ] Bug report
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
</code></pre>

## Current behavior

![pagingerror](https://user-images.githubusercontent.com/16590085/38538207-5b98fb76-3c9b-11e8-836c-ca59a90134a7.png)
Negative page Numbers, when press '<<

[2018-04-10 06:14] sagarthecook commented on #74
Please check out new navbar changes and close this issue.

[2018-04-10 06:15] #67 closed, assigned to sagarthecook, anaghak07

[2018-04-10 06:37] rashmithakkar opened #79 "Text Area - Disable Color"
![screenshot from 2018-04-09 19-50-44](https://user-images.githubusercontent.com/31242664/38539893-93e854b0-3cb7-11e8-9f8d-8b867d35d7d9.png)

When Text Area is disabled- color differs .. its not same as text field disable

[2018-04-10 07:10] sagarthecook commented on #77
@baminmru are you using ENUM? can you elaborate this issue?
Please  check out attached example [https://stackblitz.com/edit/amexio-dropdown-control](url)

[2018-04-10 07:31] sagarthecook commented on #73
@baminmru Please checkout step box example : [https://stackblitz.com/edit/amexio-v4-stepbox](url)

[2018-04-10 07:41] DatsGawas commented on #76
@baminmru have fixed this issue you will get update in next release.

[2018-04-10 08:53] DatsGawas commented on #78
@baminmru this issue getting because your putting "rows" value greater than "pages" value.
for ex. <amexio-paginator [pages]="5" [rows]="20"></amexio-paginator>
above example will having issue.
 <amexio-paginator [pages]="20" [rows]="5"></amexio-paginator>
this will work fine.
**rows  should be less than pages**.
 I have put validation for that will get update in next release.
thanks

[2018-04-10 09:10] baminmru commented on #78
This is  grid setup in my component:
` <amexio-datagrid
		  [title]="'Вариант теста::Описание'"
		  [page-size] = "10"
		  [enable-data-filter]="false"
		  [enable-checkbox]="false"
		  [data]="VariantDescrArray"
		  (selectedRowData)="onSelect($event)"
		  (rowSelect)="onSelect($event)">
		  <amexio-data-table-column [data-index]="'baseTest_name'" [data-type]="'string'" [hidden]="false" [text]="'

[2018-04-10 09:13] baminmru commented on #73
In this sample cusror icons for **Step-box index** work OK,

but for **Step box** - cusror  has inversed logic.

On active button you show red cursor , on  non-active you show hand - cursor!

[2018-04-10 09:17] baminmru commented on #77
I use array as data source, and integer as bound value
` <amexio-dropdown
	 [field-label]="'On-line  тест'" name ="onlineTest"
                    [place-holder]="'On-line  тест'"
	 [(ngModel)]="currentVariantDescr.onlineTest"
            [allow-blank]="false" [error-msg] ="'Не задано: On-line  тест'"
	 [display-field]="'name'"
	 [value-field]="'id'"
	 [data]="AppService.enumYesNoCombo()"

/* YesN

[2018-04-10 09:18] DatsGawas commented on #78
I will check and get back to you.

[2018-04-10 09:20] baminmru commented on #77
Change  your code, and and see a bug.
`import { Component } from '@angular/core';

@Component({
  selector: 'my-app',
  templateUrl: './app.component.html',
  styleUrls: [ './app.component.css' ]
})
export class AppComponent  {
localData:any;
model:Model;
constructor(){
this.localData=[{
  "name":"X",
  "value":"0"
},{
  "name":"Y",
  "value":"1"
},{
  "name":"Z",
  "value":"2"
}];
this.model=new

[2018-04-10 09:25] sagarthecook commented on #77
@baminmru  will check and get back to you soon.

[2018-04-10 10:18] DatsGawas commented on #78
Hi @baminmru using your datagrid template I have create sample app [https://stackblitz.com/edit/datagrid-sample-ui](https://stackblitz.com/edit/datagrid-sample-ui) but I am not able to find any issue in pagination.
Please go through it and try to create your scenario. If you found issue let me know.

[2018-04-10 11:40] ketan-gote commented on #73
@baminmru Step box function as below.

- Active step box is not clickable so it has red cursor
- InActive stepbox are clickable so it has cursor with hand

[2018-04-10 11:55] DatsGawas commented on #68
Hi @yashjit The problem your facing that might be present in amexio version 3.0.x. Now we have updated our library in which we have fixed issue.
 so please use updated version :- current version is 4.1.5.
 [Here](https://stackblitz.com/edit/datagrid-groupby-sample) I have created sample app with groupby datagrid.
thanks.

[2018-04-10 11:55] #68 closed, assigned to anaghak07

[2018-04-10 12:13] anaghak07 commented on #79
@rashmithakkar committed the fix.. plz chk

[2018-04-10 13:25] sagarthecook commented on #77
@baminmru we have fixed this issue on c7d186101b7f5d1a2b34513d4b137fe49a413561 .
you will get the new changes on upcoming amexio release..

[2018-04-10 14:21] sagarthecook commented on #77
We have fixed this issue on Amexio v4.1.6

[2018-04-10 14:42] sagarthecook commented on #77
@baminmru  Please check out attached example of dropdown :[https://stackblitz.com/edit/amexio-dropdown-control](url) and close the issue

[2018-04-10 14:44] sagarjadhav968 commented on #78
@baminmru  we have resolved above issue and available on amexio v4.1.6

[2018-04-10 14:45] sagarthecook commented on #76
@baminmru we have resolved above issue and available on amexio v4.1.6

[2018-04-11 05:49] sagarthecook commented on #71
We will add this feature in Amexio very soon.

[2018-04-11 06:01] #74 closed, assigned to sagarthecook

[2018-04-11 06:23] sagarthecook commented on #70
@bhanukumar04  can you elaborate this issue?

[2018-04-11 07:15] sagarthecook commented on #70
@bhanukumar04  we have added license file inside amexio package.Please check and close this issue

[2018-04-11 07:58] sanjoga88 opened #80 "New Feature - Column header grouping is not possible in Data Grid"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ X] Feature request
[ ] Documentation issue or request
[ ] Support request
</code></pre>

## Current behavior
Current version of amexio extensions in data grid  column group is not possible, it would be good if we have this feature. i have requirement for this and

[2018-04-11 08:01] #70 closed, assigned to sagarthecook

[2018-04-11 08:02] DatsGawas commented on #80
Hi @sanjoga  will check and get back to you.

[2018-04-11 08:26] sagarjadhav968 commented on #80
#71

[2018-04-11 08:31] sagarthecook commented on #80
@sanjoga This feature already in amexio.Please check out below url
Example:[http://amexio.org/api/v4.1/index.html#/groupby-grid](url)

[2018-04-11 09:46] sanjoga88 commented on #80
@sagarjadhav968  @DatsGawas  am looking for column header grouping , not data inside grid group. i have updated subject as column header grouping.
I have attached image to show the column header grouping. Please have a look at it.
![dotnetbarsupergridmerge1](https://user-images.githubusercontent.com/1798288/38609275-44eb9608-3d9b-11e8-8627-32c81186f2f7.png)

[2018-04-11 09:49] sagarthecook commented on #80
@sanjoga thanks for the reply.we will add this feature in a future release of amexio

[2018-04-13 03:13] lc448986375 opened #81 "amexio-dropdown has-label Properties useless"
## I'm submitting a amexio-dropdown has-label properties useless

the source code of  amexio-dropdown
`
<label [style.font-style]="fontstyle" [style.font-family]="fontfamily" [style.font-size]="fontsize">
        {{fieldlabel}}
</label>
`
not used the has-label property

[2018-04-13 04:43] anaghak07 commented on #81
fixed dropdown for has-label attribute

[2018-04-13 06:44] #77 closed, assigned to sagarthecook

[2018-04-13 06:45] #76 closed, assigned to DatsGawas

[2018-04-16 06:13] #73 closed, assigned to anaghak07

[2018-04-17 16:53] ketan-gote commented on #81
Closing this issue as its fixed.

[2018-04-17 16:53] #81 closed, assigned to anaghak07

[2018-04-17 16:54] ketan-gote commented on #79
Closing this issue as its fixed.

[2018-04-17 16:54] #79 closed, assigned to sagarthecook, anaghak07

[2018-04-17 16:55] ketan-gote commented on #78
@baminmru do we need to more investigation, if note close the issue.

[2018-04-17 16:55] #78 closed, assigned to DatsGawas

[2018-05-03 11:32] anaghak07 commented on #75
@baminmru amexio-form has been released in 4.1.8 (beta) plz take a look at its implementation in API docs at http://amexio.org/api/v4.1/#/form-demo

[2018-05-09 10:25] baminmru opened #82 "Amexio 4.1.8 error on production build: Property 'getDisplayValue' does not exist on type 'AmexioTypeAheadComponent'"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X ] Bug report
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
</code></pre>

## Current behavior

Amexio 4.1.8

## Expected behavior

## Minimal reproduction of the problem with instructions
For bug reports please provide the *STEPS TO REPRODUCE* and i

[2018-05-09 13:50] DatsGawas commented on #82
we fixed this issue. Take update of Amexio version 4.1.9.

[2018-05-14 06:34] baminmru opened #83 "4.1.10 Runtime error at TabView Control: Cannot read property 'checkActionComponent' of undefined"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ x] Bug report
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
</code></pre>

## Current behavior

ERROR TypeError: Cannot read property 'checkActionComponent' of undefined
    at AmexioTabComponent.ngAfterContentInit (amexio-ng-extensions.es5.js:18957)

[2018-05-14 07:27] #82 closed, assigned to DatsGawas

[2018-05-14 08:35] DatsGawas commented on #83
Hi @baminmru
  we are not able to reproduce above error in  version 4.1.10. Can you send me your TabView usage.

[2018-05-14 10:30] baminmru commented on #83
Component in archive

[TestVariant.zip](https://github.com/meta-magic/amexio.github.io/files/2000298/TestVariant.zip)

[2018-05-14 10:30] #83 closed, assigned to DatsGawas, rashmithakkar

[2018-05-15 03:02] sagarthecook commented on #56
Please refer [http://amexio.org/api/v4.1/index.html#/form-demo](url) this link for form validation.

[2018-05-15 03:02] #56 closed, assigned to sagarthecook

[2018-05-15 03:03] sagarthecook commented on #75
@baminmru Please checkout [http://amexio.org/api/v4.1/index.html#/form-demo](url) for form validation

[2018-05-15 03:03] #75 closed, assigned to ketan-gote, anaghak07

[2018-05-30 15:51] baminmru opened #84 "Grid. Filter work only once."
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ X] Bug report
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
</code></pre>

## Current behavior

Grid with local data binding.  enable-data-filter =true
`<amexio-datagrid
		  [title]="'Sample Grid'"
		  [page-size] = "10"
		  [enable-checkbox]="false"

[2018-05-30 15:59] baminmru opened #85 "Overlap grid column data when change browser window size or zoom."
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ X ] Bug report
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
</code></pre>

## Current behavior

Content of column overlaps when browser window size changed.

## Expected behavior

![overlap](https://user-images.githubusercontent.com/16590085/4073208

[2018-05-31 14:28] rashmithakkar commented on #84
@baminmru plz take a look at its implementation in API docs at http://amexio.org/test/api/v4.2/#/filter-grid

[2018-05-31 15:27] baminmru commented on #84
This sample use  http for retrive data:

 [data-reader]="'data'"
  [http-url]="'assets/data/componentdata/datagridgroupby.json'"
  [http-method]="'get'"

Try to use direct data binding
  [data]="some_array"

[2018-06-01 04:41] sagarthecook commented on #84
We will check and get back to you.

[2018-06-01 13:12] rashmithakkar commented on #84
@baminmru  We have solved the bug. You will find it in next update..

[2018-06-05 10:50] ketan-gote commented on #84
@baminmru Issue has been fixed and is part of 4.2.2 release.

[2018-06-08 15:39] baminmru opened #86 "amexio V4.2.2 Error on production build"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
</code></pre>

## Current behavior

Error on compiling:
node_modules/amexio-ng-extensions/amexio-ng-extensions.d.ts.ɵbr.html(13,49): Expected 1 arguments, but got 0.

## Expected behavior

##

[2018-06-08 16:00] sagarthecook commented on #86
@baminmru will check and get back to you soon

[2018-06-08 16:24] sagarthecook commented on #86
@baminmru we have fixed this issue in v4.2.3 Please take an update of amexio

[2018-06-08 18:16] baminmru commented on #84
I check this error with Amexio 4.2.3
Error not fixed yet.

[2018-06-09 06:09] sagarthecook commented on #84
@Baminmru we will recheck this issue and get back to you

[2018-06-09 06:10] #86 closed, assigned to sagarthecook, rashmithakkar

[2018-06-11 10:03] rashmithakkar commented on #84
We are very sorry for inconvenience.
You will find it resolved in next update.

[2018-06-18 07:37] surajjadhav720 opened #87 "Tree Data grid"
Tree Data grid -node click not fire.
is their any method  to get leaf node data not parent node

[2018-06-18 07:38] surajjadhav720 opened #88 "tree data grid"
with attribute not working

[2018-06-18 08:02] DatsGawas commented on #88
Hi @surajjadhav720
   There is an issue with our API site we are updating it once we update will let you know.

[2018-06-18 08:04] DatsGawas commented on #87
Hi @surajjadhav720 will check and let you know.

[2018-06-19 05:46] sagarthecook commented on #84
@baminmru We have fixed this issue in latest version v4.2.6 please check and close this issue

[2018-06-19 05:54] DatsGawas commented on #87
Hi @surajjadhav720 we have fixed issue. we have added "rowSelect" event for TreeDataGrid. this will be available from v4.2.6.

[2018-06-19 05:54] #87 closed, assigned to DatsGawas

[2018-06-19 05:57] DatsGawas commented on #88
Hi @surajjadhav720 currently we don't have "Width" attribute for Treedatagrid once we added will let you know.

[2018-06-19 05:57] #88 closed, assigned to DatsGawas

[2018-06-20 17:14] baminmru commented on #84
#I have updated my project to Amexio version 4.2.6 now the filter does not work at all. If I enter any letter in the filter field, the contents of the grid just disappear.

[2018-06-20 17:50] ketan-gote commented on #84
@baminmru  - Have create stackblitz example with filter and direct data binding, please check below link. Let me know if you have anymore issues.

https://stackblitz.com/edit/amexio-v4-filter-grid-sr6cxg

[2018-06-21 07:54] baminmru commented on #84
I looked at Your example, Yes it works. I'm trying to understand why it doesn't work in my version.

[2018-06-22 09:42] sagarthecook commented on #84
@baminmru can you share your code snipped and package JSON file.

[2018-07-06 08:09] arafkarsh opened #89 "SA - Help regarding linking different zones of pie chart"
**Sender**: rpathak1518@gmail.com
**Comment**: Can I please know  how to add a router in different zones of pie chart?I need to link different zones to another page.

[Open #20 in Usersnap Dashboard](https://usersnap.com/a/#/your-team-1s6s/p/amexio-api-a0fddca1/20)
**Notes**:
 - (1) Can I please know  how to add a router in different zones of pie chart?I need to link different zones to another pag

[2018-07-09 11:51] husainsr opened #90 "Routing Link issue,and thier <router-outlet>"
**1.)I had done sidenav demo as given in documentation also particular json with required link, but the problem is that when i click on sidenav items for navigation it not works.**
**2.)Also where do i put <router-outlet> the whole width is covered by <amexio-dockbar>.**

[code]

[2018-07-10 10:33] sagarthecook commented on #90
Hi @husainsr Please check out this Url https://amexio-v4-side-nav-bar-l9wjaa.stackblitz.io/#/email

[2018-07-10 10:41] husainsr commented on #90
How do i implement same in my app?

[2018-07-10 10:44] #90 closed, assigned to sagarthecook

[2018-07-10 11:23] alrajp opened #91 "Where do I place the <router-outlet> when I implement top and left nav bar."
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
</code></pre>

## Current behavior

## Expected behavior

## Minimal reproduction of the problem with instructions
For bug reports please provide the *STEPS TO REPRODUCE* and if possible a *M

[2018-07-10 13:23] sagarthecook commented on #91
@alrajp  Please check out below URL for side navbar with router-outlet
URL-[ https://amexio-v4-side-nav-bar-l9wjaa.stackblitz.io/#/email](url)

[2018-07-11 11:22] alrajp commented on #91
Thanks you so much.. Please find the code base where I placed the router-outlet, which is not displayed as im expecting...

which is overlapping from topnav main menu..

Unable to attache the screen short as there is no option to attach it.

'<amexio-nav
  [enable-side-nav-position]="false"
  [title]="'Amexio'"

            <amexio-nav-item position-right
                                      [typ

[2018-07-11 15:36] baminmru opened #92 "API docs site don't work"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X ] Bug report
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
</code></pre>

## Current behavior

## Expected behavior

## Minimal reproduction of the problem with instructions
For bug reports please provide the *STEPS TO REPRODUCE* and if possible a *

[2018-07-12 04:44] ketan-gote commented on #92
@baminmru - Are you still facing same issue, as we are able to access.

[2018-07-13 07:32] sagarthecook commented on #91
Hi, @alrajp
Please add `<div style="padding-top: 68px;"><router-outlet ></router-outlet></div>` instead of `<router-outlet ></router-outlet>`

[2018-07-16 15:29] baminmru commented on #92
Try to open: https://amexio.org/api/v5.0/index.html  in Edge
I see only progress indicator and feedback window.
error in console:
 SCRIPT1009: SCRIPT1009: Expected '}'  at  vendor.885c547ab6a05c85fcc6.js (34011,4)

in IE, I receive  Security error.
In Chrome  it's look like network problem  some files failed to load.

[2018-07-16 15:35] baminmru commented on #92
![default](https://user-images.githubusercontent.com/16590085/42767970-f85b5620-8926-11e8-8bc9-8f690c0e0cda.png)

Firefox network log. Same as Chrome. Files from amexio.org failed to load.

[2018-07-17 05:01] sagarthecook commented on #91
@alrajp can you close this issue.

[2018-07-17 12:25] deepali-arvind commented on #92
@baminmru thanks for detail logs

we are investigating this issue , will update asap

[2018-07-18 11:45] arafkarsh commented on #33
We are working on this feature set for all the complex UI Components like Grid, Tree and Simpler components like Dropdowns, List Box etc. We really appreciate your feedback and looking forward to more such suggestions. Once the feature is ready, we will inform you personally.

Apologize for the delay in responding to this critical feature requirement.

[2018-07-20 17:00] baminmru commented on #84
Hi!  I do some researches in filter behaviour. And now I've solved my problem.
In my code I change data dynamically after component load.
Data field is changing after control rendered.
In this case filterCloneData of datagridcomponent not set to actual data. So I change function setChangeData to:
`
setChangeData(httpResponse: any){
    this.setSelectedFlag(httpResponse);

	if (this.groupby) {

[2018-07-20 17:00] #84 closed, assigned to rashmithakkar

[2018-07-23 08:07] ketan-gote commented on #91
Closing this issues

[2018-07-23 08:07] #91 closed, assigned to sagarthecook

[2018-07-23 08:07] #66 closed, assigned to ketan-gote

[2018-08-04 07:08] arafkarsh opened #94 "SA - Peer Dependencies"
**Sender**: sagarmmhatre@yahoo.co.in
**Comment**: npm install font-awesome@latest --save
npm install angular-font-awesome@latest --save
npm install tslint-sonarts@latest --save
[Open #21 in Usersnap Dashboard](https://usersnap.com/a/#/your-team-1s6s/p/amexio-api-a0fddca1/21)
**Notes**:
 - (1) Peer Dependencies are required to be installed

<a href='https://usersnappublic.s3.amazonaws.com/2018-08-0

[2018-08-04 22:48] Allu123 opened #95 "getting exception 'nav-dropdown-content-right: undefined'"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
</code></pre>

## Current behavior

## Expected behavior

<img width="1432" alt="screen shot 2018-08-04 at 5 43 44 pm" src="https://user-images.githubusercontent.com/17191466/43681031-0e1e2a7

[2018-08-05 02:53] sagarthecook commented on #95
We will check and get back to you soon..

[2018-08-05 18:49] Allu123 commented on #85
Any update on this issue?, since i'm also facing same issue on my data grid table.

[2018-08-05 18:52] Allu123 commented on #24
Any update on this, as this feature is required for me too.

[2018-08-07 07:05] DatsGawas commented on #85
we have fixed this issue. You will get update in next point release.

[2018-08-07 13:18] arafkarsh opened #96 "SA - Side Nav Bar issue"
**Sender**: araf.karsh@metamagic.in
**Comment**: Side Nav Bar Down Arrow alignment issue
[Open #22 in Usersnap Dashboard](https://usersnap.com/a/#/your-team-1s6s/p/amexio-api-a0fddca1/22)
**Notes**:
 - (1) Down Arrow Alignment issue

<a href='https://usersnappublic.s3.amazonaws.com/2018-08-07/15-17/db64d564-5aef-498c-a5b3-7a6c1cd78107.png'>![SA - Side Nav Bar issue](https://usersnappublic.s3.amazo

[2018-09-04 08:00] arafkarsh opened #97 "SA - Max"
**Sender**: arvindkumarmitra8225067093@gmail.com
**Comment**: Max
[Open #23 in Usersnap Dashboard](https://usersnap.com/a/#/your-team-1s6s/p/amexio-api-a0fddca1/23)

<a href='https://usersnappublic.s3.amazonaws.com/2018-09-04/09-57/939b7384-1bd4-4ca9-b33e-acae2ff91177.png'>![SA - Max](https://usersnappublic.s3.amazonaws.com/2018-09-04/09-57/d71e6d88-bc32-4967-9a74-c33c7549f803.jpg)</a>
<a href='ht

[2018-09-04 08:28] arafkarsh opened #98 "SA - Andromeda"
**Sender**: arvindkumarmitra8225067093@gmail.com
**Comment**: Andromeda
[Open #24 in Usersnap Dashboard](https://usersnap.com/a/#/your-team-1s6s/p/amexio-api-a0fddca1/24)

<a href='https://usersnappublic.s3.amazonaws.com/2018-09-04/10-28/364486ce-2156-46b5-8626-3044c2370808.png'>![SA - Andromeda](https://usersnappublic.s3.amazonaws.com/2018-09-04/10-28/6849e445-8e8e-4a73-ba49-6c4c3a4815be.jpg)</a>

[2018-09-04 08:42] arafkarsh opened #99 "SA - Nvidia & Amd"
**Sender**: arvindkumarmitra8225067093@gmail.com
**Comment**: Nvidia & Amd
[Open #25 in Usersnap Dashboard](https://usersnap.com/a/#/your-team-1s6s/p/amexio-api-a0fddca1/25)

<a href='https://usersnappublic.s3.amazonaws.com/2018-09-04/10-41/202ce7fe-9272-4d9a-9fa4-dda5d67383e1.png'>![SA - Nvidia & Amd](https://usersnappublic.s3.amazonaws.com/2018-09-04/10-41/9013d1d6-3957-496f-bd0a-44cd22786343.jp

[2018-09-04 08:46] ketan-gote commented on #92
Closing this issue

[2018-09-04 08:46] #92 closed, assigned to deepali-arvind

[2018-09-06 09:12] arafkarsh opened #100 "SA - Very nice."
**Sender**: vraghavulu15876@gmail.com
**Comment**: Very nice.
[Open #26 in Usersnap Dashboard](https://usersnap.com/a/#/your-team-1s6s/p/amexio-api-a0fddca1/26)

<a href='https://usersnappublic.s3.amazonaws.com/2018-09-06/11-11/9e3df682-fbc7-4120-bc9c-57baf4ebc09a.png'>![SA - Very nice.](https://usersnappublic.s3.amazonaws.com/2018-09-06/11-11/045f53d9-853e-493a-809a-f1f9f8220e39.jpg)</a>
<a href=

[2018-09-06 09:15] arafkarsh opened #101 "SA - నేటి యూత్ కు ఎంతో ఉపయోగం"
**Sender**: vraghavulu15876@gmail.com
**Comment**: నేటి యూత్ కు ఎంతో ఉపయోగం
[Open #27 in Usersnap Dashboard](https://usersnap.com/a/#/your-team-1s6s/p/amexio-api-a0fddca1/27)

<a href='https://usersnappublic.s3.amazonaws.com/2018-09-06/11-14/f01ac9ed-7668-48fc-8524-47f8b7beb542.png'>![SA - నేటి యూత్ కు ఎంతో ఉపయోగం](https://usersnappublic.s3.amazonaws.com/2018-09-06/11-14/dab5bc1a-b7be-4a8f-87e2-37

[2018-10-05 13:28] sagarthecook commented on #95
@Allu123 we have fixed this issue in v5.0 version. if you run into any more issues let us know so will fix ASAP.

[2018-10-05 13:28] #95 closed, assigned to sagarthecook, kedar8

[2018-10-05 13:45] #85 closed, assigned to rashmithakkar

[2018-10-16 12:56] baminmru opened #102 "File upload dont work"
## I'm submitting a...

<pre><code>
[X ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
</code></pre>

## Current behavior

control  call http-url,  but  file data not send

## Expected behavior

File data  send to specified http-url

## Minimal reproduction of the problem with

[2018-10-16 13:09] rashmithakkar commented on #102
We will check and get back to you soon.

[2018-10-18 07:56] ramesh470 opened #103 "amexio-nav-item not showing amexio-label"
in amexio-nav-item im not able show amexio-label for welcome message on the nav header.

my code:
<amexio-nav [logo]="'assets/images/logo.png'">
    <amexio-nav-item position-right >
        <amexio-label>Hello Mr.XYZ</amexio-label>
    </amexio-nav-item>
</amexio-nav>

and also im not able to disable textfield in amexio-nav-item
code:
<amexio-nav [logo]="'assets/images/logo.png'">
    <amexio-nav

[2018-10-18 08:47] rashmithakkar commented on #103
We will check and get back to you soon...

Thanks

[2018-10-18 10:28] rashmithakkar commented on #103
It is possible to add label by using [title] attribute in amexio-nav markup.
Code for reference:
<amexio-nav [logo]="'assets/images/logo.png'"
**[title]="'Amexio'"**>
<amexio-nav-item position-right
[type]="'textfield'"
[title]="'Enter your name'"
[(ngModel)]="uname" >
</amexio-nav-item>
</amexio-nav>

Amexio-nav-item doesnot have disabled property. We will add it to fulfill your requirement and u

[2018-10-18 13:42] ramesh470 commented on #103
Thanks for your reply mam,i will check your solution it is satisfied my requirement or not.
my requirement is need to display username in header after login. i will check and let you know.

[2018-10-18 13:50] ramesh470 commented on #103
hi @rashmithakkar  mam,
can you please help me ,some times dropdown [(ngModel)] values are not working.
i have multiple dropdowns in a page, i will send request to server at that some times values or not working.
ex: if we have grid in our page,i will submit request to the server and get response into the grid. if i click any page in the grid pagination and then again i submit request to the serve

[2018-10-22 15:18] rashmithakkar commented on #24
Amexio follows material design, due to which we don’t support editable grid. It can be implemented in different way, please find sample example for it:

 https://stackblitz.com/edit/amexio-editable-grid-example

Thanks

[2018-10-24 05:25] sagarthecook commented on #103
hi @ramesh470  Sorry for the delay on this!
For model binding checkout below example
 [Example](https://stackblitz.com/github/sagarjadhav968/employee-portal)
Lmk if you run into any more issues.

[2018-11-05 06:37] arafkarsh opened #104 "SA - Amexio-chart-d3 module not found"
**Sender**: kailaskokate122@gmail.com
**Comment**: I have installed
CLI: npm install amexio-chart-d3 --save
Also Add in app.module.ts
but not working
there are any required in other files
[Open #28 in Usersnap Dashboard](https://usersnap.com/a/#/your-team-1s6s/p/amexio-api-a0fddca1/28)
**Notes**:
 - (1) ERROR in src/app/app.module.ts(15,37): error TS2307: Cannot find module 'amexio-chart-d3'.

<a

[2018-11-05 07:01] ketan-gote commented on #104
@kailaskokate122@gmail.com : Please find below stackblitz example, it has amexio-chart-d3 integration.

https://stackblitz.com/edit/amexio-d3-chart-example

[2018-11-19 05:39] NightFury10 opened #105 "Amexio Data Grid for Django rest framework for JSON output"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Feature request
[x] Documentation issue or request
[x] Support request
</code></pre>

## Current behavior

json output from Django rest framework do not have data reader property as needed by Amexio Data Grid.

## Expected behavior

Please can you help with gett

[2018-11-20 11:41] #103 closed, assigned to rashmithakkar

[2018-11-21 12:40] rashmithakkar commented on #104
Hi,
You need to install d3 as well. -  **npm i d3**
and
import { HttpClientModule } from '@angular/common/http' in yout app.module.ts file and add HttpClientModule to imports.

After following this, if are still facing problem or having any other queries , please feel free to contact us.

Thank you

[2018-11-21 14:24] rashmithakkar commented on #105
Hi @NightFury10 ,

 Please find below stackblitz example, it has data grid example without data-reader.
**https://stackblitz.com/edit/amexio-grid-example**

[2018-11-23 09:21] NightFury10 commented on #105
Thank you it worked.

[2018-11-23 09:21] #105 closed, assigned to rashmithakkar

[2018-12-07 15:41] #104 closed, assigned to ketan-gote, rashmithakkar, Manisha1205

[2018-12-07 15:43] rashmithakkar commented on #102
Hi @baminmru ,  We are sorry that it took long to resolve the bug.
You will find it resolved in v5.4.1 .

Please take update and if you find any more issue please revert us back.

[2018-12-07 15:43] #102 closed, assigned to rashmithakkar

[2019-02-11 07:27] arafkarsh opened #106 "SA - phone number validation"
**Sender**: ritheshkdr@gmail.com
**Comment**: i have defining maxlength to the filed but it is not restricting.
[Open #29 in Usersnap Dashboard](https://usersnap.com/a/#/your-team-1s6s/p/amexio-api-a0fddca1/29)

<a href='https://usersnappublic.s3.amazonaws.com/2019-02-11/08-27/2b4f409c-4760-448c-9806-c28edf7db173.png'>![SA - phone number validation](https://usersnappublic.s3.amazonaws.com/2019-02-

[2019-02-11 10:07] arafkarsh opened #107 "SA - Icons"
**Sender**: ritheshkdr@gmail.com
**Comment**: few icons are not displaying
[Open #30 in Usersnap Dashboard](https://usersnap.com/a/#/your-team-1s6s/p/amexio-api-a0fddca1/30)

<a href='https://usersnappublic.s3.amazonaws.com/2019-02-11/11-06/579d2ba5-12d4-4457-9ee5-abb5eede4b45.png'>![SA - Icons](https://usersnappublic.s3.amazonaws.com/2019-02-11/11-06/5917b954-7f28-41aa-befb-f8a880855ce2.jpg)</a>

[2019-03-03 20:53] arafkarsh opened #108 "SA - how do i apply material themes"
**Sender**: devbk999@gmail.com
**Comment**: Need support
[Open #31 in Usersnap Dashboard](https://usersnap.com/a/#/your-team-1s6s/p/amexio-api-a0fddca1/31)

<a href='https://usersnappublic.s3.amazonaws.com/2019-03-03/21-53/70dd9009-6899-4a1b-b598-51c3a1a9a8aa.png'>![SA - how do i apply material themes](https://usersnappublic.s3.amazonaws.com/2019-03-03/21-53/6b7520f8-cf03-4128-8880-9d09a0bfb369.jp

[2019-03-03 20:54] arafkarsh opened #109 "SA - Import and Export grid functinality ?"
**Sender**: devbk999@gmail.com
**Comment**: need support

[Open #32 in Usersnap Dashboard](https://usersnap.com/a/#/your-team-1s6s/p/amexio-api-a0fddca1/32)

<a href='https://usersnappublic.s3.amazonaws.com/2019-03-03/21-54/8c2efe14-1efb-4f51-b4e5-70a50c6c43ad.png'>![SA - Import and Export grid functinality ?](https://usersnappublic.s3.amazonaws.com/2019-03-03/21-54/7fe7fb5c-bc11-4d11-8729-0c4df02

[2019-03-03 20:55] arafkarsh opened #110 "SA - coumn resizing for grid"
**Sender**: devbk999@gmail.com
**Comment**: need support
[Open #33 in Usersnap Dashboard](https://usersnap.com/a/#/your-team-1s6s/p/amexio-api-a0fddca1/33)

<a href='https://usersnappublic.s3.amazonaws.com/2019-03-03/21-55/b19a7b9a-1f96-4e5c-b012-5ab5850a9ac2.png'>![SA - coumn resizing for grid](https://usersnappublic.s3.amazonaws.com/2019-03-03/21-55/0ea9ab94-699e-420d-94f1-4f88efb0c5c0.jpg)</a>

[2019-03-03 20:56] arafkarsh opened #111 "SA - Inline frid editing"
**Sender**: devbk999@gmail.com
**Comment**: need support
[Open #34 in Usersnap Dashboard](https://usersnap.com/a/#/your-team-1s6s/p/amexio-api-a0fddca1/34)

<a href='https://usersnappublic.s3.amazonaws.com/2019-03-03/21-56/ba3aaec5-3413-4559-845e-4b3e733a019b.png'>![SA - Inline frid editing](https://usersnappublic.s3.amazonaws.com/2019-03-03/21-56/061195a7-9b21-402e-9761-fbd95d62bea0.jpg)</a>
<a h

[2019-03-03 20:58] arafkarsh opened #112 "SA - Ntranslate module is missing"
**Sender**: devbk999@gmail.com
**Comment**: neeed support
[Open #35 in Usersnap Dashboard](https://usersnap.com/a/#/your-team-1s6s/p/amexio-api-a0fddca1/35)

<a href='https://usersnappublic.s3.amazonaws.com/2019-03-03/21-58/862eb36b-1c25-42ec-993c-5abfea499687.png'>![SA - Ntranslate module is missing](https://usersnappublic.s3.amazonaws.com/2019-03-03/21-58/236d1db3-37f6-4da4-b671-39174b40e19e.jpg

[2019-03-03 21:01] arafkarsh opened #113 "SA - Need dynamic form and dynamic table"
**Sender**: devbk999@gmail.com
**Comment**: Need support
[Open #36 in Usersnap Dashboard](https://usersnap.com/a/#/your-team-1s6s/p/amexio-api-a0fddca1/36)

<a href='https://usersnappublic.s3.amazonaws.com/2019-03-03/22-00/23a7a701-0db9-419d-8164-602f669795ca.png'>![SA - Need dynamic form and dynamic table](https://usersnappublic.s3.amazonaws.com/2019-03-03/22-00/604796a0-77f6-4b68-973e-ce2afc7c86

[2019-03-04 04:45] ketan-gote commented on #107
This has been resolved.. Closing it.

[2019-03-04 04:45] #107 closed, assigned to ketan-gote, rashmithakkar

[2019-03-27 07:17] arafkarsh opened #114 "SA - wanna ge only selected (checked) node from tree"
**Sender**: thakkar.nilesh10@gmail.com
**Comment**: Hi , i am using tree module in my project and need to display selected data node in right side of tree. as of now in api i get whole tree in with checked true. could you please help me on this
thanks In advance
Nilesh
[Open #37 in Usersnap Dashboard](https://usersnap.com/a/#/your-team-1s6s/p/amexio-api-a0fddca1/37)

<a href='https://usersnappubli

[2019-03-28 06:25] Ajitweb opened #115 "Scrollable Tab - not showing in amexio-homepage-ce"
## I'm submitting a...
[x ] Bug report
![a1](https://user-images.githubusercontent.com/5118787/55134944-57d4e080-513b-11e9-87b3-d83ee8cffc56.jpg)

## Current behavior
The left and right icon does not appear in case the tab is inside amexio-homepage-ce tag
I copied the tabs just before the amexio-homepage-ce tag and it is showing up.

## Environment
Angular version: 7
All Browsers

[2019-03-28 09:35] rashmithakkar commented on #115
Hi Ajitweb,

We have fixed this issue in our latest build v5.9.1 version.

if you run into any more issues let us know.

[2019-03-28 10:00] Ajitweb commented on #115
That fix was fast Rashmi!!!. Downloaded the latest and confirmed.
Thanks to you and the team for providing this wonderful time saver utility.

Amexio is the only one I could find which could add dynamic tabs with components.
I am not a big fan of routing. So dynamic loading of components into fresh new tabs -  works great for me.
Anyway - I am just getting started.

Another feature that I was look

[2019-03-28 10:10] amine-blaha opened #116 "Click event on Treemap"
Is there a way to get the value of a selected rectangle in the treemap on click ?

[2019-03-28 14:44] arafkarsh opened #117 "SA - Tree map get clicked element"
**Sender**: chakermouhamed96@gmail.com
**Comment**: hello amexio team,
i really like the work that you guys did ! and i wonder if it is possible to get the selected item in a tree map .. thanks in advance ofr your time.
Best Regards.
[Open #38 in Usersnap Dashboard](https://usersnap.com/a/#/your-team-1s6s/p/amexio-api-a0fddca1/38)

<a href='https://usersnappublic.s3.amazonaws.com/2019-03-28/15-44/

[2019-03-29 19:09] rashmithakkar commented on #116
Hi @DeathDoctor ,
Please take the update of amexio (5.9.2), You will find onClick event on treeMap.

[2019-03-29 19:09] #116 closed, assigned to nobody

[2019-03-29 19:12] rashmithakkar commented on #117
Hi,
Please take the latest update of Amexio (5.9.2) , You will find onClick event for treemap.

[2019-03-29 19:12] #117 closed, assigned to ketan-gote, rashmithakkar

[2019-03-29 19:16] rashmithakkar commented on #115
Please take the update of Amexio- 5.9.2 . The issue of Menu Bar that is getting dropdown once is resolved.

[2019-03-29 19:16] #115 closed, assigned to rashmithakkar

[2019-03-29 19:20] rashmithakkar commented on #114
Please take the update of Amexio-5.9.2. Only the checked node data is emitted on checkbox selection.

[2019-03-29 19:20] #114 closed, assigned to ketan-gote

[2019-03-31 07:15] Ajitweb commented on #115
That fix was fast Rashmi!!!. Downloaded the latest and confirmed.
Thanks to you and the team for providing this wonderful time saver utility.

Amexio is the only one I could find which could add dynamic tabs with components.
I am not a big fan of routing. So dynamic loading of components into fresh new tabs -  works great for me.
Anyway - I am just getting started.

Another feature that I was look

[2019-03-31 07:26] Ajitweb commented on #115
Hello Rashmi,

I notice now - that the arrow icons are misplaced for tabs

![a1](https://user-images.githubusercontent.com/5118787/55286052-383df200-539f-11e9-94b6-f0b28e2150df.jpg)

Also, is there any way to change the background color of the active tab?

Thanks

Ajit

[2019-03-31 15:47] Ajitweb opened #118 "icons are misplaced for scrollable tabs"
Hello Rashmi,

I notice now - that the arrow icons are misplaced for tabs

![a1](https://user-images.githubusercontent.com/5118787/55286052-383df200-539f-11e9-94b6-f0b28e2150df.jpg)

Also, is there any way to change the background color of the active tab?

Thanks

Ajit

_Originally posted by @Ajitweb in https://github.com/meta-magic/amexio.github.io/issues/115#issuecomment-478318671_

[2019-04-01 06:36] Ajitweb opened #119 "onClick does not fire for amexio-drop-down-menu"
The onClick **does not fire** for
[code]

But **it fires** for
`        <amexio-drop-down-menu [icon-align]="'left'" [title]="'Payment option'" [data]="payment" [icon]="'fa fa-truck'"
          [transparent]="false" (onClick)="onDropDownMenuClick($event,mainTab)">
        </amexio-drop-down-menu>`

Am I missing anything?

Ajit

[2019-04-01 14:30] rashmithakkar commented on #115
Hi Ajit,

We are unable to reproduce the issue, Can you please add your code to
stackblitz and share so that it will be easy for us to dig and find the
solution.

Thanks and Regards,
Rashmi Thakkar

On Sun, Mar 31, 2019 at 12:56 PM Ajitweb <notifications@github.com> wrote:

--
Breach of confidentiality

This email and any files transmitted with it
are confidential and intended solely for the use o

[2019-04-02 08:18] Ajitweb commented on #115
Hello Rashmi,

https://angular-sakxkx.stackblitz.io

For some reason, on stackblitz, the fa icons are not showing up - but you can see the placeholders.
Click on the MainMenu and on selecting the submenu a dynamic tab is added.

1. If you add more and more tabs, eventually it will overflow and then you can see the behaviour that I described.
2. Another thing I noticed is that that scrollable icons

[2019-04-02 11:25] rashmithakkar commented on #115
Hi Ajit,

Can you please share the sourcecode or editor of stackblitz so that it will
be easy for us to find the problem.

Thanks,
Rashmi

On Tue, Apr 2, 2019 at 1:48 PM Ajitweb <notifications@github.com> wrote:

--
Breach of confidentiality

This email and any files transmitted with it
are confidential and intended solely for the use of the individual or
entity to whom they are addressed. If you

[2019-04-02 11:33] Ajitweb commented on #115
Oops sorry - my bad - here it is

https://stackblitz.com/edit/angular-sakxkx

[2019-04-13 10:21] arafkarsh opened #120 "SA - New Issues"
**Sender**: ketan.gote@gmail.com
**Comment**: Testing by ketan
[Open #39 in Usersnap Dashboard](https://usersnap.com/a/#/your-team-1s6s/p/amexio-api-a0fddca1/39)
**Notes**:
 - (1) There is issue with navbar

<a href='https://usersnappublic.s3.amazonaws.com/2019-04-13/12-21/62bc14c4-0024-400c-b4e6-2fbe914bdfc1.png'>![SA - New Issues](https://usersnappublic.s3.amazonaws.com/2019-04-13/12-21/3568d1fc

[2019-04-13 10:30] ketan-gote commented on #120
Closing this issue.

[2019-04-13 10:30] #120 closed, assigned to ketan-gote, rashmithakkar

[2019-05-06 06:24] baminmru opened #121 "Error when compile to production mode in version 5.10 and 5.11"
![amexio_5 11bug](https://user-images.githubusercontent.com/16590085/57215671-4adac500-6ff6-11e9-8e3c-6a5f80ae8d2e.png)
## I'm submitting a...

<pre><code>
[ X] Regression (a behavior that used to work and stopped working in a new release)
[ X] Bug report
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
</code></pre>

## Current behavior

Error when compile to production

[2019-05-06 06:35] baminmru opened #122 "Amexio-chart-d3 is not usefull in real dashboard, when data property used as series datasource"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[X] Feature request
[ ] Documentation issue or request
[ ] Support request
</code></pre>

## Current behavior

I use  JWT autentification in my application. So I can't use http-url property.
I fill data series array  from  server with different parameters.
I use dat

[2019-05-06 06:43] baminmru opened #123 "No record showing in Grouped grid when change 'data' property"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X ] Bug report
[X ] Feature request
[ ] Documentation issue or request
[ ] Support request
</code></pre>

## Current behavior

I use JWT autentification in my application. So I can't use http-url property.
I fill data array from server with different parameters (for example each

[2019-05-06 06:53] baminmru commented on #122
You can see chart usage in  my  project
https://github.com/baminmru/A_monitor
See  DISPATCHER_CHART  component and DISPATCHER.service.ts

[2019-05-06 07:19] #118 closed, assigned to rashmithakkar

[2019-05-06 12:31] rashmithakkar commented on #119
Hi Ajitweb,
You also need to add (onClick)="onDropDownMenuClick($event)" to <amexio-drop-down-menu-item> tag.

Please revert if you still find query

[2019-05-06 12:31] #119 closed, assigned to rashmithakkar, kedar8

[2019-05-07 06:29] vikram06 opened #124 "unable to build AOT"
I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ X] Bug report
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
</code></pre>

## Current behavior
While running and JIT working fine.But when build AOT getting
`ERROR in node_modules\amexio-ng-extensions\amexio-ng-extensions.d.ts.ɵci.html(3,50): : Expected

[2019-05-07 08:09] rashmithakkar commented on #124
Please take the amexio-ng-extensions(v5.11.1) update.

Thanks

[2019-05-07 08:09] #124 closed, assigned to rashmithakkar

[2019-05-07 08:10] rashmithakkar commented on #121
Please take the amexio-ng-extensions(v5.11.1) update .

Thanks

[2019-05-07 08:10] #121 closed, assigned to rashmithakkar, kedar8

[2019-05-07 08:11] rashmithakkar commented on #123
Please take the amexio-ng-extensions(v5.11.1) update.

Thanks

[2019-05-07 08:11] #123 closed, assigned to rashmithakkar, kedar8

[2019-05-07 08:14] rashmithakkar commented on #122
Please take the amexio-chart-d3 (v0.1.6) update

Thanks

[2019-05-07 08:14] #122 closed, assigned to rashmithakkar, Manisha1205

[2019-05-07 08:25] vikram06 commented on #124
Thanks @rashmithakkar
Now getting
[code]

[2019-05-07 16:57] baminmru commented on #122
This  version  work fine.

[2019-05-07 16:59] baminmru commented on #123
Now  grid show records, but group by feature do not  work.  And also rowSelect event not  raised.

[2019-05-07 17:08] baminmru opened #125 "amexio-layout-grid is broken in version 5.11.1"
## I'm submitting a...

<pre><code>
[ X] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
</code></pre>

## Current behavior

Grid-layout do not work. See sample at
https://api.amexio.org/api/v5.11/#/layout/gridlayout-demo

## Expected behavior

Grid-layout  work as in prevous ve

[2019-05-07 17:13] baminmru commented on #121
Now version compiled successfully. Thank you.

[2019-05-18 15:44] arafkarsh opened #126 "SA - Grid Demo"
**Sender**: arafkarsh@gmail.com
**Comment**: Testing the feedback
[Open #40 in Usersnap Dashboard](https://usersnap.com/a/#/your-team-1s6s/p/amexio-api-a0fddca1/40)
**Notes**:
 - (1) Live is not working

<a href='https://usersnappublic.s3.amazonaws.com/2019-05-18/17-43/a2471ba1-a23f-4c6a-9754-801a63702906.png'>![SA - Grid Demo](https://usersnappublic.s3.amazonaws.com/2019-05-18/17-43/f3687281-421d

[2019-05-18 15:44] arafkarsh commented on #126
Closing the issue

[2019-05-18 15:44] #126 closed, assigned to ketan-gote

[2019-05-21 02:43] teatherconsulting opened #127 "Amexio Datagrid Filtering"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[X ] Feature request
[ ] Documentation issue or request
[ ] Support request
</code></pre>

## Current behavior

Currently if you have a amexio-datagrid and you enabled the enable-data-filter property it allows you to correctly filter the data.  However, if you have

[2019-05-21 14:19] DatsGawas commented on #127
Hi teatherconsulting,
 we have fixed this issue, Please find working functionality in next point release.

[2019-05-24 11:10] pablodicosta opened #128 "Property enable-column-filter not working"
The column filter menu does not hide even if I set **enable-column-filter** to false

[2019-05-24 12:22] ketan-gote commented on #128
Sorry. Our API site was not updated. We have deprecated "enable-column-fiter" and added new attribute "enable-column-filter" with same functionality.

[2019-05-29 18:27] teatherconsulting commented on #127
The filtering does work as we expect.  However, now it seems like you can't clear out a filter.  For example, if I type in an a, then it filters and only displays the items that start with an a.  However, if I remove the a it isn't possible to get back the entire list without refreshing the table from scratch again.  Can we make it so it will clear out the filter if you remove the data from the te

[2019-05-31 04:49] teatherconsulting opened #129 "Clear Filter"
The filtering does work as we expect after the fix for #127.  However, now it seems like you can't clear out a filter.  For example, if I type in an a, then it filters and only displays the items that start with an a.  However, if I remove the a it isn't possible to get back the entire list without refreshing the table from scratch again.  Can we make it so it will clear out the filter if you remo

[2019-06-12 17:24] teatherconsulting commented on #129
Any update on when there might be a fix for this?  The last update made the grid even less usable than it was before, so we aren't able to use the most recent version.

[2019-06-12 19:04] arafkarsh commented on #129
Will look into this asap. Regret the inconvenience caused.

[2019-06-14 05:01] arafkarsh commented on #129
Check out the Demo in the latest API docs.
https://api.amexio.org/api/v5.14/#/data/filter-grid-demo
The team is working on stackblitz examples also.

[2019-06-14 05:14] #128 closed, assigned to ketan-gote, rashmithakkar

[2019-06-14 05:14] #127 closed, assigned to DatsGawas, rashmithakkar

[2019-06-14 05:15] #22 closed

[2019-06-14 05:16] ketan-gote commented on #106
You can use our new directive for input mask. Please refer to below link for more info.

https://api.amexio.org/api/v5.14/#/directive-demo/input-mask

[2019-06-14 05:16] #106 closed, assigned to ketan-gote, rashmithakkar

[2019-06-14 05:17] #100 closed, assigned to ketan-gote

[2019-06-14 05:18] ketan-gote commented on #96
Fixed.

[2019-06-14 05:18] #96 closed, assigned to ketan-gote, kedar8

[2019-06-14 05:22] ketan-gote commented on #111
Sample as #24

[2019-06-14 05:22] #111 closed, assigned to ketan-gote, rashmithakkar

[2019-06-14 05:24] kedar8 commented on #129
check out the stackblitz example of the grid filter.
1) Column Grid Filter -
https://stackblitz.com/edit/amexio-v4-filter-grid-test?embed=1&file=app/grid/filtergrid/filtergrid.demo.html&view=editor
2) Global Grid Filter -
https://stackblitz.com/edit/amexio-v4-global-filter-grid?embed=1&file=app/grid/filtergrid/filtergrid.demo.html&view=editor

[2019-06-14 05:29] ketan-gote commented on #125
@baminmru - We have verified this in latest version and it is working. Can you reverify at your end and let us know. If issue is still present, please share stackblitz example, as it will help us in investigating further.
Also you can close this issue if it is resolve.

[2019-06-14 05:30] #63 closed, assigned to ketan-gote

[2019-06-14 22:06] teatherconsulting commented on #129
Your filter grid demo actually has the exact same bug we are seeing in our grid and are hoping you can fix.  For example, if you go to the stackblitz example you provided and then go to the preview.  Then search for male in the Job Title field.  It will bring up only the first record with looks great.  However, if you remove male from the search box only the first record still appears.  It actuall

[2019-06-15 03:45] arafkarsh commented on #129
It's clear now. We will fix this asap. Thanks for the support.

[2019-06-18 06:58] ketan-gote commented on #129
@teatherconsulting - This issue is fixed in our latest release (5.14.2). Please find corresponding stackblitz example.
https://stackblitz.com/edit/amexio-grid-filter-new-demo?embed=1&file=src/app/gridfilter/filtergrid.demo.component.html&view=editor

[2019-06-18 17:33] baminmru commented on #125
Sorry, but what latest version you verify?
This feature do not  work at your demo site for all 5.1x version.
Here:  https://api.amexio.org/api/v5.14/#/layout/gridlayout-demo
And here:  https://api.amexio.org/api/v5.13/#/layout/gridlayout-demo
And here: https://api.amexio.org/api/v5.12/#/layout/gridlayout-demo
And here: https://api.amexio.org/api/v5.11/#/layout/gridlayout-demo

'Live page' used ame

[2019-06-18 17:36] baminmru commented on #125
![изображение](https://user-images.githubusercontent.com/16590085/59706273-c2f8f500-9208-11e9-808e-0cb1ddc667a6.png)

Browser version is Firefox 67.0.2

[2019-06-18 18:28] arafkarsh commented on #125
It's working in Chrome and Microsoft Edge Browser and not working in FireFox. We will look into this asap.
![Amexio-API-Edge](https://user-images.githubusercontent.com/11264297/59709627-e467da00-9224-11e9-9679-2d1fd46e1b79.jpg)

[2019-06-19 06:54] baminmru commented on #125
I hope you fix problem for FireFox. Without this fix I cannot use new version of Amexio in my projects  :-(

[2019-06-19 07:00] ketan-gote commented on #125
@baminmru - We are looking into this issue and fix will be supporting FireFox also.

[2019-06-20 04:23] arafkarsh commented on #125
We will be releasing the fix today.

[2019-06-20 04:48] arafkarsh commented on #125
Checked the fix in the following Browsers
- FireFox
- Chrome
- Safari
- Edge
- Opera

![Amexio-fix-Grid-Layout-FireFox](https://user-images.githubusercontent.com/11264297/59819213-8af6cc80-9344-11e9-9f4b-076b724840f6.jpg)
![Amexio-fix-Grid-Layout-Chrome](https://user-images.githubusercontent.com/11264297/59819239-9d710600-9344-11e9-8be3-62870c27f99d.jpg)
![Amexio-fix-Grid-Layout-Safari](https://us

[2019-06-20 07:51] baminmru commented on #125
Thanks, I am waiting while next release is ready.

[2019-06-20 14:45] rashmithakkar commented on #125
Above issue is resolved in amexio version 5.14.3.
Please refer [Sample grid layout] (https://stackblitz.com/edit/amexio-v4-gridlayoutbasic-latest1?file=app/app.component.ts) with latest version.

[2019-06-26 19:00] arafkarsh opened #134 "SA - Rado : Event fired twice"
**Sender**: contact@dlucazeau.fr
**Comment**: The method called by onSelection on a radio-group is fired twice.
How can we avoid this?
Thanks
[Open #41 in Usersnap Dashboard](https://usersnap.com/a/#/your-team-1s6s/p/amexio-api-a0fddca1/41)

<a href='https://usersnappublic.s3.amazonaws.com/2019-06-26/10-42/8f06027d-38dd-42ad-af1b-181316d2ab57.png'>![SA - Rado : Event fired twice](https://usersnapp

[2019-07-03 17:33] baminmru opened #135 "V5.15 problem on production build"
## I'm submitting a...

<pre><code>
[ X] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
</code></pre>

## Current behavior

I receive error when build application which used amexio v5.15  in production mode.
Error from
homepage.eastpanel.component

## Expected behavior

## Mini

[2019-07-03 17:34] #125 closed, assigned to rashmithakkar

[2019-07-15 17:22] baminmru opened #136 "Amexio-chart-d3 use Text or Time label as x-Axis"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[X ] Feature request
[ ] Documentation issue or request
[ ] Support request
</code></pre>

## Current behavior

In line chart text or time data for x-axis processed as integer values.

## Expected behavior

Values for x-Axis processed as type defined in datatype fie

[2019-07-15 17:26] baminmru opened #137 "Amexio-d3-chart. Rotation for long label at x-Axis"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[X] Feature request
[ ] Documentation issue or request
[ ] Support request
</code></pre>

## Current behavior

Data at x-Axis are overlaps if label is long or count of label is big.

## Expected behavior

Rotate label to fixed angle. For example as here: http://www.

[2019-07-18 12:38] rashmithakkar commented on #135
Please take the latest update and check, Let us know if you still find the same error.

[2019-07-18 12:38] #135 closed, assigned to DatsGawas

[2019-07-18 13:15] rashmithakkar commented on #134
Please take the latest update (amexio-ng-extensions)

[2019-07-18 13:15] #134 closed, assigned to ketan-gote, DatsGawas

[2019-07-19 06:32] #129 closed, assigned to rashmithakkar, kedar8

[2019-07-19 11:15] #94 closed, assigned to ketan-gote, rashmithakkar, kedar8

[2019-07-24 04:10] rashmithakkar commented on #136
Please take the update of amexio-chart-d3 (v0.1.8)

[2019-07-24 04:10] #136 closed, assigned to rashmithakkar, Manisha1205

[2019-07-24 04:25] rashmithakkar commented on #108
Hi,
whichever theme you want to apply , you can add it in angular.json in styles.
(eg. ../node_modules/amexio-ng-extensions/styles/mda/at-md-army-olive.scss)
Check out various themes on [api docs](https://api.amexio.org/api/v5.15/index.html#/amexio-colors)

[2019-07-24 04:25] #108 closed, assigned to ketan-gote, rashmithakkar

[2019-07-24 04:28] rashmithakkar commented on #89
Instead of google charts, we can suggest you to use d3 charts, where you will get click event and data of particular section, so that accordingly routing or any operations can be performed.
Refer [example](https://api.amexio.org/api/v5.15/index.html#/D3chart/amexio-d3-chart-pie).

Thanks.

[2019-07-24 04:28] #89 closed, assigned to ketan-gote, sagarthecook, rashmithakkar, Manisha1205

[2019-07-24 05:01] rashmithakkar commented on #137
@baminmru

Can you please share example on stackblitz.. So it is easy for us to solve the issue

[2019-07-26 07:06] arafkarsh opened #138 "SA - Sawan"
**Sender**: sawanpanchal121@gmail.com
**Comment**: Sawan plan
[Open #42 in Usersnap Dashboard](https://usersnap.com/a/#/your-team-1s6s/p/amexio-api-a0fddca1/42)

<a href='https://usersnappublic.s3.amazonaws.com/2019-07-26/09-06/adb542e8-6e51-4861-80ea-b81f3048ef66.png'>![SA - Sawan](https://usersnappublic.s3.amazonaws.com/2019-07-26/09-06/7386dd14-8b0a-4a94-9e99-e26bc350f1fe.jpg)</a>
<a href='http

[2019-08-02 07:38] arafkarsh opened #139 "SA - amexio-d3-chart-donut"
**Sender**: vishnupriya.b@jeanmartin.com
**Comment**: The donut chart not showing. The error be like ERROR TypeError: "Cannot read property 'forEach' of undefined in amexio-d3-chart-donut". My data be like (6) [Array(3), Array(3), Array(3), Array(3), Array(3), Array(3)]. Can you help me to get the donut datas?
[Open #43 in Usersnap Dashboard](https://usersnap.com/a/#/your-team-1s6s/p/amexio-api-a0

[2019-08-02 12:39] priyavenkat95 commented on #139
Any Solution?

[2019-08-02 12:42] rashmithakkar commented on #139
@priyavenkat95  We need a proper sample data which is provided to donut chart. Can you please send the data.

[2019-08-02 12:46] priyavenkat95 commented on #139
**Below data is my sample Json data**
{"donutDatas" : [
    {
        "assetClass": "Cash and Short Term Fixed Income",
        "currentValue": "100,527.61",
        "currentPercent": "5.40%",
        "colorCode": "#ff7600"
    },
    {
        "assetClass": "Fixed Income",
        "currentValue": "385,773.45",
        "currentPercent": "20.72%",
        "colorCode": "#2f296b"
    },
    {

[2019-08-02 13:24] Manisha1205 commented on #139
Refer this [stackblitz example](https://stackblitz.com/edit/amexio-d3-chart-donut-demo?embed=1&file=src/app/d3chart/d3donutchart/d3donutchart.demo.component.ts&view=preview).

The data provided by you is used in above example.

[2019-08-02 13:56] priyavenkat95 commented on #139
Hi Manisha,

I want this JSON data will show via a service call. Will you show me that kind of examples? I  used a service call method in the above-mentioned examples.

[2019-08-06 06:55] Manisha1205 commented on #139
Hello,
Refer this [stackblitz example](https://stackblitz.com/edit/amexio-d3-chart-donut-demo?embed=1&file=src/app/d3chart/d3donutchart/d3donutchart.demo.component.ts&view=editor), here i have used local json data , instead you can use json data received by http call

[2019-08-21 13:02] priyavenkat95 commented on #139
Hi Manisha,
I tried in your way. The donut chart is shown in black color but the [color] is not working.

[2019-08-21 17:04] rashmithakkar commented on #139
Hi @priyavenkat95 ,

We are unable to reproduce the issue that you are facing.

[2019-08-22 05:04] rashmithakkar commented on #137
@baminmru

Please refer the [api docs](https://api.amexio.org/api/v5.18/index.html#/D3chart/amexio-d3-chart-line) . If data is huge, x axis gets intervals and chart is plotted and have provided slant as a input which makes x axis label rotate.

[2019-08-22 05:04] #137 closed

[2019-08-23 07:12] priyavenkat95 commented on #124
I am also facing the same error. Is there any solution for this error?

[2019-08-23 07:16] vikram06 commented on #124
No updates from @rashmithakkar . So i switched to an another framework.

[2019-08-23 07:19] priyavenkat95 commented on #124
I want to know which framework did you use?

[2019-08-23 07:31] rashmithakkar commented on #124
@priyavenkat95 May I please know which amexio version are you using?

[2019-08-23 07:35] vikram06 commented on #124
@priyavenkat95 I am using e-charts

[2019-08-23 07:36] priyavenkat95 commented on #124
I am using amexio versions are "amexio-chart-d3": "0.1.9",  "amexio-ng-extensions": "5.18.0"

[2019-08-23 07:43] rashmithakkar commented on #124
@priyavenkat95  Can you share the versions of Angular CLI, Node and Angular that you are using?

[2019-08-23 07:47] priyavenkat95 commented on #124
@rashmithakkar I am using
Angular CLI: 7.3.9
Node: 8.10.0
Angular: 7.2.15

[2019-08-23 08:11] rashmithakkar commented on #124
@priyavenkat95 Can you please take the update of amexio 5.18.1 and do tell if you are still facing the issue.

[2019-08-23 11:15] priyavenkat95 commented on #124
@rashmithakkar Thanks for your response. My problem was fixed. I downgrade the versions like "amexio-chart-d3": "0.1.1", "amexio-ng-extensions": "5.5.3". It works perfectly for my problem.

[2019-10-17 15:24] jeffipson opened #140 "The filtering and/or sorting for the Data Grid is not remaining as we would expect when the data in the table is refreshed."
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
</code></pre>

## Current behavior
We have an amexio-datagrid with the [data] tag set to "references." "references" is just an array of data objects that we want displayed in the Data Grid an

[2019-11-04 14:32] rashmithakkar commented on #140
Hi @jeffipson Please take the update of amexio-ng-extensions 5.20.2.

Please revert if you still face any issue.

[2019-11-04 18:19] jeffipson commented on #140
Thank you! We have updated in a test environment and are verifying the changes, but so far all looks good. Thanks!

[2019-11-06 05:58] #140 closed, assigned to rashmithakkar

[2020-03-19 23:28] fawcettjt opened #143 "Checkbox not working in Internet Explorer 11"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ x ] Bug report
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
</code></pre>

## Current behavior

amexio-checkbox is not functioning as expected in Internet Explorer. In Firefox and Chrome, no errors are generated and the box, when clicked, shows a ch

[2020-03-31 22:29] jeffipson commented on #140
We have found that the Data Grid does not retain the sorting after the data has been refreshed. The filtering appears to be working as expected, but the sorting does NOT. Can you look at the sorting please?

_"The same thing occurs with sorting the data by the column. If we have it previously sorted and then refresh "references," the Data Grid displays the refreshed data, but it is no longer sorte

[2020-04-17 09:07] baminmru commented on #72
This problem is returned back.

[2020-04-17 09:12] baminmru commented on #72
Here is screenshots of edit form with right dropdown values, and wrong values if bound fields is null.
![OK](https://user-images.githubusercontent.com/16590085/79553105-a8034580-80a4-11ea-8efb-6920192fa490.png)
![WrongValues](https://user-images.githubusercontent.com/16590085/79553112-aafe3600-80a4-11ea-83c4-751546adba82.png)

[2020-04-17 10:25] baminmru opened #144 "Only first tab page shown in Edge Browser"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ X] Bug report
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
</code></pre>

## Current behavior

When I use web site in Edge browser in Tab view only first page is visible.

![Edge-TabpageError](https://user-images.githubusercontent.com/16590085/79559

[2020-06-08 14:07] propelsoftware opened #145 "Grid- Lazy Loading - pagination count from server is not reflecting"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
</code></pre>

## Current behavior
We were trying the data grid lazy loading feature, if you notice in the code below am setting the value for totalDataCount variable based on the count sent

[2022-02-16 01:46] mxdog opened #149 "AMEXIO is broken with current versions of node.js and Angular"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ X] Bug report
[ ] Feature request
[ X] Documentation issue or request
[ ] Support request
</code></pre>

## Current behavior

Test application will not build after installing  amexio

## Expected behavior

npm install libraries/tooling with out dependency errors

ng serve works

[2022-04-13 15:52] imrahulmpawar opened #150 "Canvas does not opens !"

[2022-05-27 20:39] kristyknapp opened #151 "Using the search filter of a data grid clears all selected rows"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ x] Bug report
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
</code></pre>

## Current behavior

We are using an amexio-datagrid that has column with a checkbox in it to select a row. When I select a row in the data grid and then use the search filter